
A.xone_a	{FONT: 8pt Tahoma; COLOR: #0000cd; TEXT-DECORATION: none;}

td.xone_td
{
	font: 8pt Tahoma;
	vertical-align: middle;
	cursor: pointer;
	height: 19px;
}

td.xone_ic 	{FONT: 8pt Tahoma; height:16px; width:19px; vertical-align:top;}

