/* reset.css */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
img, fieldset { border:none; }
table { width:100%; border-collapse:collapse; border-spacing:0; /* word-break:break-all; */}
ul, ol,  li { list-style:none; }
address,caption,cite,code,dfn,em,th,var { font-style:normal; font-weight:normal; }
caption,th {text-align:left;}
abbr,acronym { border:0; }
img { vertical-align:top; }
input, select, textarea, form img { vertical-align:middle; margin:5px ; font-family:'Malgun Gothic', '맑은 고딕';}
input, select, textarea {border:1px solid #e5ebf2;}
button {border:0; cursor:pointer; padding:0; margin:0; background-color:transparent;font-family:'Malgun Gothic', '맑은 고딕';}
select {min-height:25px; min-width:100px;}

.hidden {position: absolute; width: 0; height: 0; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}

.float-r {float:right;}

* {box-sizing:border-box;}

html,body {font-family:'Malgun Gothic', '맑은 고딕'; font-size:12px; height:100%; width:100%; display:block;}
a {text-decoration:none; color:#555;}



/*margin, padding*/
.mb30 {margin-bottom:30px !important;}
.pb30 {padding-bottom:30px !important;}


.ml10 {margin-left:10px !important;}
.ml20 {margin-left:20px !important;}
.ml30 {margin-left:30px !important;}
.ml50 {margin-left:50px !important;}

.pl10 {padding-left:10px !important;}
.pl20 {padding-left:20px !important;}
.pl30 {padding-left:30px !important;}
.pl50 {padding-left:50px !important;}

.mr0 {margin-right:0px !important;}
.mr10 {margin-right:10px !important;}
.mr20 {margin-right:20px !important;}
.mr30 {margin-right:30px !important;}
.mr50 {margin-right:50px !important;}

.pr10 {padding-right:10px !important;}
.pr20 {padding-right:20px !important;}
.pr30 {padding-right:30px !important;}
.pr50 {padding-right:50px !important;}


.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}

.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px  !important;}
.pb20 {padding-bottom:20px  !important;}
.pb30 {padding-bottom:30px  !important;}
.pb50 {padding-bottom:50px  !important;}
.pb60 {padding-bottom:60px  !important;}

.mt3 {margin-top:3px !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}
.mt80 {margin-top:80px !important;}
.mt120 {margin-top:120px !important;}

.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt20 {padding-top:20px !important;}
.pt30 {padding-top:30px !important;}
.pt50 {padding-top:50px !important;}

.w100px {width:100px;}
.w69px {width:69px;}
.w50px {width:50px;}
.w50p {width:50%;}
.w30p {width:30%;}
.w20p {width:20%;}

.txt-l {text-align:left !important;}
.txt-r {text-align:right !important;}
.txt-c {text-align:center !important;}

.flo-left {float:left;}
.flo-right {float:right;}

/* main-layout */
.main-login-bg {background:url(../img/login-bg.png) no-repeat; text-align:center; padding:0; margin:0; height:100%; width:100%; position:relative;}
.login-input-box {background-color:#fff; width:434px; height:553px; border-radius:4px; position:absolute; top:155px; left:50%; margin-left:-275px;  box-shadow: 5px 5px 50px 5px gray;}
.login-logo {background-color:#44b02a; width:100%; height:126px; border-radius:4px 4px 0 0; position:relative;}
.login-logo p {padding-top:30px; overflow:hidden;}
.login-input {width:334px; text-align:center; margin:40px auto 0 auto;}
.login-input ul {position:relative; margin-bottom:10px; overflow:hidden; padding-bottom:20px;}
.login-input ul li {margin-bottom:10px;}
.login-input ul li:nth-child(1) {color:#158515; font-size:14px; font-weight:bold; text-align:left;font-family:'Malgun Gothic', '맑은 고딕';}
.login-input ul li:nth-child(2) input {border:0; border-bottom:1px solid #000; width:100%; font-size:18px;  padding:10px 0; text-align:left;font-family:'Malgun Gothic', '맑은 고딕';}
.login-input ul li:nth-child(3) {position:absolute; bottom:-5px; right:0; top:43px; width:105px; text-align:left;font-family:'Malgun Gothic', '맑은 고딕';}
.login-input button {margin:30px auto 0 auto; text-align:center; background-color:#44a62c; font-size:18px; color:#fff; padding:10px; width:192px; border-radius:25px; font-weight:bold;}
.login-help {position:relative; font-weight:bold; padding-left:20px; margin-top:40px; font-size:15px; font-weight:bold; width:auto;}
.login-help:before {position:absolute; top:2px; left:50%; background:url(../img/icon-tel.png) no-repeat; content:''; width:18px; height:18px; margin-left:-90px;}
.copy-right {margin-top:60px; color:#9a9a9a;}

/* header */
header {width:100%; background-color:#e5f1ea; height:45px; border-bottom:1px solid #b9b9be; position:absolute; top:0; left:0;}
header .top-area {width:100%; height:100%;}
header .top-area .top-area-box {height:100%; display:inline-block; position:relative; width:100%;}
header .top-area .top-area-box .toplogo {position:absolute; top:50%; left:18px; margin-top:-13px;}
header .top-area .top-area-box .toplogo .top-logo-img {display:inline-block;}
header .top-area .top-area-box .toplogo > span {font-size:14px; display:inline-block;  position:absolute; top:5px; left:119px; width:200px;}

header .top-area .top-area-box .log-info {position:absolute; top:50%; right:0; text-align:right; margin-top:-8px; margin-right:18px;}
header .top-area .top-area-box .log-info > div {display:inline-block;}
header .top-area .top-area-box .log-info .user-id {font-weight:bold;}
header .top-area .top-area-box .log-info .log-time {margin-left:10px; color:#999999;}
header .top-area .top-area-box .log-info .user-info {display:inline-block; margin-left:10px;}
header .top-area .top-area-box .log-info .user-info a {display:inline-block; position:relative;}
header .top-area .top-area-box .log-info .user-info a:after {content:''; display:block; position:absolute; top:50%; left:0; background:url(../img/icon-userid.png) no-repeat; width:15px; height:15px; margin-top:-7px;}
header .top-area .top-area-box .log-info .user-info span {display:inline-block; margin-left:20px;}
header .top-area .top-area-box .log-info button {font-size:12px; padding-left:20px; margin-left:10px; position:relative;}
header .top-area .top-area-box .log-info button:after {content:''; display:block; position:absolute; top:50%; left:0;  background:url(../img/icon-logout.png) no-repeat; width:15px; height:15px; margin-top:-7px;}

.main-body {width:100%; height:100%; padding-top:46px; position:relative;}

.left-menu-box {width:204px; font-size:14px; position:absolute; top:45px; left:0; z-index:999; height:95%;}
.left-menu-box .menu-open,
.left-menu-box .menu-close {width:100%; border-bottom:1px solid #b9b9be; height:37px; display:table;}
.left-menu-box .menu-open a ,
.left-menu-box .menu-close a {display:table-cell; position:relative; width:100%; height:inherit; padding-left:17px; vertical-align:middle; font-weight:bold;}
.left-menu-box .menu-open a:after {content:''; display:block; position:absolute; top:50%; left:115px; background:url(../img/icon-allmenu.png) no-repeat; width:10px; height:8px; margin-top:-4px;}
.left-menu-box .menu-close a:after {content:''; display:block; position:absolute; top:50%; left:115px; background:url(../img/icon-allmenu_close.png) no-repeat; width:10px; height:8px; margin-top:-4px;}


.left-menu-box .left-menu-link {padding-top:20px; padding-left:20px; height:95%;  overflow:auto;}
.left-menu-box .left-menu-link > ul {margin-bottom:15px;}
.left-menu-box .left-menu-link > ul > li {margin-bottom:15px; font-weight:bold;}
.left-menu-box .left-menu-link > ul > li > a {font-size:14px; position:relative; padding-left:20px;}
.left-menu-box .left-menu-link > ul > li > a:after {content:''; display:block; position:absolute; top:50%; left:0; background:url(../img/icon-menuoff.png) no-repeat; width:11px; height:8px; margin-top:-4px;}
.left-menu-box .left-menu-link > ul > li > a:hover,
.left-menu-box .left-menu-link > ul > li > a.on {color:#007a33; position:relative;}
.left-menu-box .left-menu-link > ul > li > a:hover:after,
.left-menu-box .left-menu-link > ul > li > a.on:after {content:''; display:block; position:absolute; top:50%; left:0; background:url(../img/icon-menuon.png) no-repeat; width:12px; height:8px; margin-top:-4px;}

.left-menu-box .left-menu-link > ul > li > ul {margin-left:25px; margin-top:10px;}
.left-menu-box .left-menu-link > ul > li > ul > li {margin-bottom:10px;}
.left-menu-box .left-menu-link > ul > li > ul > li:last-child {margin-bottom:0;}
.left-menu-box .left-menu-link > ul > li > ul > li > a {font-size:12px; position:relative; padding-left:15px;}
.left-menu-box .left-menu-link > ul > li > ul > li > a:after {content:'ㆍ'; display:block; position:absolute; top:0; left:0;}

.left-menu-box .left-menu-link > ul > li > ul > li > a:hover,
.left-menu-box .left-menu-link > ul > li > ul > li > a:hover:after,
.left-menu-box .left-menu-link > ul > li > ul > li > a.on {color:#007a33;}


.right-content {width:auto; vertical-align:top; padding:20px 20px 50px 234px; position:relative; min-height:100%; display:block; }
.right-content:after {content:''; display:block; position:absolute; top:0; left:204px; height:100%; border-left:1px solid #b9b9be;}
.right-content .page-title {font-size:16px; font-weight:bold; margin-bottom:10px;}
.right-content .sh-option {background-color:#f2f5f8; width:100%; padding:15px 20px; overflow:hidden; border:1px solid #f2f5f8; margin-bottom:20px;}
.right-content .sh-option > dl {overflow:hidden; margin-bottom:10px; float:left; margin-right:20px;}
.right-content .sh-option > dl:last-child {margin-bottom:0; clear:both;}
.right-content .sh-option > dl > dt,
.right-content .sh-option > dl > dd {float:left; margin-right:10px;}
.right-content .sh-option > dl > dt {font-weight:bold; margin-top:5px; width:50px;}
.right-content .sh-option > dl > dd {vertical-align:top;}
.right-content .sh-option > dl > dd > input {height:25px; border:1px solid #e5ebf2; position:relative;}
/*.right-content .sh-option > dl > dd > input[type="text"]:after {content:''; display:block; position:absolute; top:50%; right:0; background:url(../img/icon-cal.png) no-repeat; width:16px; height:16px; margin-right:-8px;}*/
.right-content .sh-option > dl > dd > input[type="radio"] {margin-left:10px; padding-top:4px}
.right-content .sh-option > dl > dd > select {height:19px; border:1px solid #e5ebf2; position:relative;}
.right-content .sh-option button.sh-btn {padding:2px 10px 2px 10px; background-color:#007a33; color:#fff; border-radius:2px; vertical-align:middle; height:25px; line-height:24px;}
a.sh-btn  {padding:4px 15px; background-color:#007a33; color:#fff; border-radius:2px; }
button.sh-btn {padding:2px 10px 2px 10px; background-color:#007a33; color:#fff; border-radius:2px; vertical-align:middle; height:25px;}

.list-box .list-cpation {width:100%; overflow:hidden;}
.list-box .list-cpation div:first-child {float:left; font-weight:bold;}
.list-box .list-cpation div:last-child {float:right;}
.list-box .list-cpation div:last-child select {font-size:9px; height:15px;}

.mid-title {font-size:16px; margin-bottom:10px;}
.url-link-check {width:100%;}
.url-link-check > div {margin-bottom:10px;}
.url-link-check > div:last-child {margin-bottom:0px;}
.url-link-check > div > button {width:25px; height:25px; line-height:25px; background-color:#ccc; position:relative; vertical-align:top;}
.url-link-check > div > button:before {position:absolute; display:block; width:25px; height:25px; vertical-align:middle;}
.url-link-check > div > button.plus:before  {content:'+'; color:#fff; font-size:20px; top:0; left:0;}
.url-link-check > div > button.minus:before {content:'-'; color:#fff; font-size:20px; top:-2px; left:0;}



/*search info*/
.search-infomation {width:100%; position:relative; overflow:hidden; margin-bottom:5px; height:25px;}
.search-infomation .search-count strong {color:#007073;}
.search-infomation .paging-select {position:absolute; top:0; right:0;}
.search-infomation .paging-select select {height:25px; width:50px; border:1px solid #ccc;}

/*list sh*/
.list-caption {width:100%; margin-bottom:10px; overflow:hidden;}
.list-caption .list-title {float:left;}
.list-caption .list-title .title {font-weight:bold; font-size:14px;}
.list-caption .list-title a {background-color:#000; color:#fff; font-size:11px; display:inline-block; width:83px; height:22px; line-height:22px; text-align:center;}
.list-caption .cd-ch {float:right;}
.list-caption .cd-ch input[type="text"] {width:200px; height:25px;}
.list-caption .cd-ch button {background-color:#007a33; color:#fff; border-radius:2px; height:27px; padding:0 15px; line-height:27px;}

/* table style */
.list-table-box {width:100%;  margin-bottom:20px;}
.list-table-box .normal-list-table {width:100%; border-top:2px solid #275038;}
.list-table-box .normal-list-table th {background-color:#e5f1ea; border:1px solid #cccccc; border-top:0; border-left:0; text-align:center; color:#222; padding:8px;}
.list-table-box .normal-list-table th:last-child {border-right:0;}
.list-table-box .normal-list-table th.sorting {position:relative;}
.list-table-box .normal-list-table th.sorting button {position:absolute;}
.list-table-box .normal-list-table th.sorting button:nth-child(1) {background:url(../img/icon-st-up.png) no-repeat; width:10px; height:5px; top:50%; right:15px; margin-top:-8px; text-indent:-10000px;}
.list-table-box .normal-list-table th.sorting button:nth-child(2) {background:url(../img/icon-st-down.png) no-repeat; width:10px; height:5px; bottom:50%; right:15px; margin-bottom:-7px; text-indent:-10000px;}

.list-table-box .normal-list-table tbody tr:hover {background-color:#fafafa;}

.list-table-box .normal-list-table th.dot-option {position:relative;}
.list-table-box .normal-list-table th.dot-option .icon-dot {position:absolute; top:50%; right:15px; margin-top:-6px;}

.list-table-box .normal-list-table td {border:1px solid #cccccc; border-top:0; border-left:0; text-align:center; color:#222; padding:5px; min-width:55px;}
.list-table-box .normal-list-table td:last-child {border-right:0;}
.list-table-box .normal-list-table td.table-btn a,
.list-table-box .normal-list-table td.table-btn button {background-color:#ddd; padding:3px 5px;}
.list-table-box .normal-list-table td em {font-style:normal; color:#2196f3;}

.list-table-box .ok-signature {color:#07787f; border:1px solid #07787f; border-radius:5px; padding:2px 10px; line-height:1; margin-left:10px; vertical-align:middle;}
.list-table-box .label-btn {color:#07787f; border:1px solid #07787f; border-radius:5px; padding:2px 10px; line-height:1; margin-left:10px; vertical-align:middle; cursor:pointer;}
.list-table-box .ex-img {background-color:#ebebeb; width:64px; height:40px;  display:inline-block; margin-top:3px;}

.table-caption {font-size:16px; font-weight:bold; margin-right:10px; vertical-align:middle;}


/*쓰기, 수정, 상세보기 table*/
.list-table-box .normal-wmv-table {width:100%; position:relative; border-top:2px solid #275038;}
.list-table-box .normal-wmv-table th {background-color:#e5f1ea; border-bottom:1px solid #cccccc; border-top:0; border-left:0; text-align:left; color:#222; padding:8px; position:relative; min-width:115px;}
.list-table-box .normal-wmv-table th:last-child {border-right:0;}
.list-table-box .normal-wmv-table th.sorting {position:relative;}
.list-table-box .normal-wmv-table th.sorting button {position:absolute;}
.list-table-box .normal-wmv-table th.sorting button:nth-child(1) {background:url(../img/icon-st-up.png) no-repeat; width:10px; height:5px; top:50%; right:15px; margin-top:-8px; text-indent:-10000px;}
.list-table-box .normal-wmv-table th.sorting button:nth-child(2) {background:url(../img/icon-st-down.png) no-repeat; width:10px; height:5px; bottom:50%; right:15px; margin-bottom:-7px; text-indent:-10000px;}
.list-table-box .normal-wmv-table th span,
.list-table-box .normal-wmv-table .alt-txt {color:#f44336;}

.list-table-box input.w100p,
.list-table-box input.phone,
.list-table-box input.email {width:100% !important}

.list-table-box .nomal-list li {margin-bottom:5px;}
.list-table-box .nomal-list li:last-child {margin-bottom:0;}

/*.list-table-box .normal-wmv-table tbody tr:hover {background-color:#ffefd6;}*/

.list-table-box .normal-wmv-table th.dot-option {position:relative;}
.list-table-box .normal-wmv-table th.dot-option .icon-dot {position:absolute; top:50%; right:15px; margin-top:-6px;}

.list-table-box .normal-wmv-table td {border-bottom:1px solid #cccccc; border-top:0; border-left:0; text-align:left; color:#222; padding:5px;}
.list-table-box .normal-wmv-table td:last-child {border-right:0;}
.list-table-box .normal-wmv-table td.table-btn a,
.list-table-box .normal-wmv-table td.table-btn button {background-color:#ddd; padding:3px 5px;}
.list-table-box .normal-wmv-table td .input-data {width:30%;}
.list-table-box .normal-wmv-table td .area-data {height:150px;}
.list-table-box .normal-wmv-table td input[type=text],
.list-table-box .normal-wmv-table td input[type=password],
.list-table-box .normal-wmv-table td select {height:25px;}
.list-table-box .normal-wmv-table td .check-box ul {width:60%; word-break:keep-all; margin-top:10px;}
.list-table-box .normal-wmv-table td .check-box ul li {display:inline-block; margin-left:10px; min-width:90px; margin-bottom:10px;}

.upload-img-box {background-color:#ebebeb; width:84px; height:54px; display:inline-block; margin-right:10px;}
.upload-img-box img {width:84px; height:54px;}
.open-file {cursor:pointer; background-color:#cccccc; border:1px solid #b7b7b7; border-radius:2px; padding:5px 10px; font-weight:bold; color:#000; display:inline-block; margin-bottom:7px;}
.upload-file {display:inline-block; vertical-align:top; margin-right:10px;}

.main-body a {
  text-decoration: none;
}

a {text-decoration:none !important}
a.underline {position:relative; width:100%;}
a.underline:before {content:''; display:block; background-color:#222; position:absolute; bottom:-2px; left:0; text-decoration:underline; height:1px; width:100%;}


/*input*/
.table-input {text-align:center;}



.right-content .pg-btn {position:relative; text-align:center;}
.right-content .pg-btn .paging_wrap {text-align:center; position:relative; padding-bottom:50px;}
.right-content .pg-btn .paging_wrap a {border:1px solid #c3c9d8; width:24px; height:24px; display:inline-block; vertical-align:middle; padding-top:3px; position:relative; overflow:hidden;}
.right-content .pg-btn .paging_wrap a.on,
.right-content .pg-btn .paging_wrap a:hover {border:1px solid #000; color:#fff; background-color:#000;}
.right-content .pg-btn .paging_wrap .none,
.right-content .pg-btn .paging_wrap .none:hover {border:1px solid #c3c9d8 !important; background-color:#fff !important;  text-indent:-10000px;}
.right-content .pg-btn .paging_wrap .paging {}
.right-content .pg-btn .paging_wrap a.pg1:after {content:''; position:absolute; top:50%; left:50%; display:block; width:11px; height:7px; margin-top:-3px; margin-left:-5px; background:url(../img/btn_paging_first.png) no-repeat;}
.right-content .pg-btn .paging_wrap a.pg2:after {content:''; position:absolute; top:50%; left:50%; display:block; width:6px; height:7px;  margin-top:-3px; margin-left:-3px; background:url(../img/btn_paging_prev.png) no-repeat;} 
.right-content .pg-btn .paging_wrap a.pg3:after {content:''; position:absolute; top:50%; left:50%; display:block; width:5px; height:8px;  margin-top:-4px; margin-left:-2px; background:url(../img/btn_paging_next.png) no-repeat;}
.right-content .pg-btn .paging_wrap a.pg4:after {content:''; position:absolute; top:50%; left:50%; display:block; width:10px; height:9px; margin-top:-4px; margin-left:-5px; background:url(../img/btn_paging_last.png) no-repeat;}

.pg-btn .table-button {position:absolute; top:0; right:0; text-align:center; width:100%;}
.pg-btn .btn-center {text-align:center;}

.flo-left button:first-child,
.flo-left a:first-child {margin-left:0 !important;}

.gray-bg {background-color:#e1e1e1;}

.paging_wrap .paging ul, .paging_wrap .paging li {display:inline-block;}



/*button style*/
.table-button .btn-box {text-align:right; margin-bottom:20px; position:relative;}
.table-button .btn-box.center {text-align:center;}
.table-button .btn-box a,
.table-button .btn-box label,
.table-button .btn-box button {vertical-align:top; position:relative; border-radius:3px; cursor:pointer; height:24px; line-height:23px; border:1px solid #007a33; color:#007a33; padding:0 10px 0 25px; margin-left:10px; font-weight:bold;}

.table-button .btn-box a.gary,
.table-button .btn-box label.gary,
.table-button .btn-box button.gary { border:1px solid #999999; color:#999999;} 

.btn-box {width:100%; text-align:center;}
.btn-box a {display:inline-block;}
.gary { border:1px solid #999999; color:#999999;} 
.btn-type {display:inline-block; padding:3px 15px; font-weight:bold;}


.btn-box .btn-modi,/*수정*/
.btn-box .btn-list,/*목록*/
.btn-box .btn-newwrite,/*신규등록*/
.btn-box .btn-save,/*저장*/
.btn-box .btn-del {padding-left:35px;}/*삭제*/
.btn-box .btn-cancel {padding:0 20px !important;}

/*버튼 아이콘*/
.btn-box .btn-newwrite:before	{content:''; display:block; position:absolute; top:50%; left:10px; background:url(../img/icon-write.png) no-repeat; width:11px; height:10px; margin-top:-5px}
.btn-box .btn-del:before		{content:''; display:block; position:absolute; top:50%; left:10px; background:url(../img/icon-del.png) no-repeat; width:9px; height:9px; margin-top:-4px}
.btn-box .btn-save:before		{content:''; display:block; position:absolute; top:50%; left:10px; background:url(../img/icon-write.png) no-repeat; width:11px; height:10px; margin-top:-5px}
.btn-box .btn-cancel:before		{content:''; display:block; position:absolute; top:50%; left:10px; background:url(../img/icon-cancel.png) no-repeat; width:14px; height:14px; margin-top:-5px}
.btn-box .btn-modi:before		{content:''; display:block; position:absolute; top:50%; left:10px; background:url(../img/icon-newwrite.png) no-repeat; width:14px; height:14px; margin-top:-7px}
.btn-box .btn-list:before		{content:''; display:block; position:absolute; top:50%; left:10px; background:url(../img/icon-list.png) no-repeat; width:14px; height:14px; margin-top:-7px}

.normal-list-table .btn-del {height:24px; vertical-align:top; position:relative; border-radius:3px; cursor:pointer; height:24px; line-height:24px; border:1px solid #999999; color:#999999; padding:0 10px 0 25px; margin-left:10px; font-weight:bold;}
.normal-list-table .btn-del {padding:0 25px;}

.btn-refresh {position:relative; text-indent:-10000px; width:27px; height:25px; padding-bottom:2px;}
.btn-refresh:before {content:''; display:block; position:absolute; top:3px; left:0; background:url(../img/icon-refresh.png) no-repeat; width:27px; height:23px;}

.popup-box {text-align:center; position:relative; width:auto; min-height:400px; border:1px solid #ccc; padding:0 20px 20px 20px;}
.popup-box .popup-option {display:table; vertical-align:top; width:100%;}
.popup-box .popup-option select {margin-right:10px;}
.popup-box .popup-option input[type="text"] {height:25px; margin-right:10px;}
.popup-box .popup-option button {height:25px; line-height:25px; color:#fff; background-color:#007a33; padding:0 10px; border-radius:5px;}

.popup-box .paging_wrap {text-align:center; position:relative;}
.popup-box .paging_wrap a {border:1px solid #c3c9d8; width:24px; height:24px; display:inline-block; vertical-align:middle; padding-top:3px; position:relative; overflow:hidden;}
.popup-box .paging_wrap a.on,
.popup-box .paging_wrap a:hover {border:1px solid #000; color:#fff; background-color:#000;}
.popup-box .paging_wrap .none,
.popup-box .paging_wrap .none:hover {border:1px solid #c3c9d8 !important; background-color:#fff !important;  text-indent:-10000px;}
.popup-box .paging_wrap .paging {}
.popup-box .paging_wrap a.pg1:after {content:''; position:absolute; top:50%; left:50%; display:block; width:11px; height:7px; margin-top:-3px; margin-left:-5px; background:url(../img/btn_paging_first.png) no-repeat;}
.popup-box .paging_wrap a.pg2:after {content:''; position:absolute; top:50%; left:50%; display:block; width:6px; height:7px;  margin-top:-3px; margin-left:-3px; background:url(../img/btn_paging_prev.png) no-repeat;} 
.popup-box .paging_wrap a.pg3:after {content:''; position:absolute; top:50%; left:50%; display:block; width:5px; height:8px;  margin-top:-4px; margin-left:-2px; background:url(../img/btn_paging_next.png) no-repeat;}
.popup-box .paging_wrap a.pg4:after {content:''; position:absolute; top:50%; left:50%; display:block; width:10px; height:9px; margin-top:-4px; margin-left:-5px; background:url(../img/btn_paging_last.png) no-repeat;}
.popup-box .table-button {position:static; text-align:right;}

.popup-box .btn-del {height:24px; vertical-align:top; position:relative; border-radius:3px; cursor:pointer; height:24px; line-height:24px; border:1px solid #999999; color:#999999; padding:0 10px 0 15px; margin-left:10px; font-weight:bold;}
.popup-box .btn-del {padding:0 15px; margin-left:0 !important;}
.popup-box .popup-title {font-size:16px; color:#222; font-weight:bold; text-align:left; margin:25px 0;}
.popup-box .popup-option {background-color:#f1f1f1; overflow:hidden; text-align:center; margin-bottom:25px; border:1px solid #f2f3f5; padding:10px 0;}
.popup-box .close-btn {position:absolute; top:25px; right:20px;}
.popup-box .close-btn a {position:relative;clip:rect }
.popup-box .close-btn a:before {content:''; display:block; background:url(../img/icon-popup-close.png) no-repeat; width:11px; height:11px;}

.popup-box .pg-btn {position:relative; text-align:center;}
.popup-box .pg-btn .paging_wrap {text-align:center; position:relative; padding-bottom:50px;}
.popup-box .pg-btn .paging_wrap a {border:1px solid #c3c9d8; width:24px; height:24px; display:inline-block; vertical-align:middle; padding-top:3px; position:relative; overflow:hidden;}
.popup-box .pg-btn .paging_wrap a.on,
.popup-box .pg-btn .paging_wrap a:hover {border:1px solid #000; color:#fff; background-color:#000;}
.popup-box .pg-btn .paging_wrap .none,
.popup-box .pg-btn .paging_wrap .none:hover {border:1px solid #c3c9d8 !important; background-color:#fff !important;  text-indent:-10000px;}
.popup-box .pg-btn .paging_wrap .paging {}
.popup-box .pg-btn .paging_wrap a.pg1:after {content:''; position:absolute; top:50%; left:50%; display:block; width:11px; height:7px; margin-top:-3px; margin-left:-5px; background:url(../img/btn_paging_first.png) no-repeat;}
.popup-box .pg-btn .paging_wrap a.pg2:after {content:''; position:absolute; top:50%; left:50%; display:block; width:6px; height:7px;  margin-top:-3px; margin-left:-3px; background:url(../img/btn_paging_prev.png) no-repeat;} 
.popup-box .pg-btn .paging_wrap a.pg3:after {content:''; position:absolute; top:50%; left:50%; display:block; width:5px; height:8px;  margin-top:-4px; margin-left:-2px; background:url(../img/btn_paging_next.png) no-repeat;}
.popup-box .pg-btn .paging_wrap a.pg4:after {content:''; position:absolute; top:50%; left:50%; display:block; width:10px; height:9px; margin-top:-4px; margin-left:-5px; background:url(../img/btn_paging_last.png) no-repeat;}

.th-btn {position:relative;}
.th-btn a {text-align:center;}
.g-map {position:absolute; bottom:0; left:15px; background-color:#fff; text-align:center;}