<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>신동아종합건설</title>

    <link rel="stylesheet" href="~/Contents/SiteMngHome/Common/css/style.css" />
    <script type="text/javascript" src="~/Contents/SiteMngHome/Common/js/libs/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Contents/SiteMngHome/Common/js/libs/TweenMax.min.js"></script>
</head>
<body>
    <div class="wrap">
        <header id="header">
            <h1><a href="/">신동아종합건설</a></h1>
            <div class="header_in">
                <!--// style_select -->
                <div class="login_info">
                    <p><strong class="admin_name">홍길동</strong>님 로그인</p>
                    <a href="#" class="btn circle blue logout">로그아웃</a>
                </div>
                <!--// login_info-->
            </div>
            <!--// header_in-->
        </header>
        <!--// header-->

        <nav id="lnb">
            <ul class="depth1">
                <li>
                    <a id="menu_dapth_statistics" href="#"><i class="fa fa-bar-chart"></i><span class="fold_hide">통계분석</span></a>
                    <ul class="depth2">
                        <li><a href="#">조건별 통계</a></li>
                        <li><a href="#">기간별 통계</a></li>
                        <li><a href="#">시간별 전화 통계</a></li>
                        <li><a href="#">계수기</a></li>
                        <li><a href="#">설문 통계</a></li>
                        <li><a href="#">이벤트 통계</a></li>
                        <li><a href="#">일일업무보고</a></li>
                    </ul>
                </li>
                <li>
                    <a id="menu_dapth_consult" href="#"><i class="fa fa-user"></i><span class="fold_hide">고객관리</span></a>
                    <ul class="depth2">
                        <li><a href="#">고객상담관리</a></li>
                    </ul>
                </li>
                <li>
                    <a id="menu_dapth_sms" href="#"><i class="fa fa-envelope-o"></i><span class="fold_hide">문자관리</span></a>
                    <ul class="depth2">
                        <li><a href="#">대량문자</a></li>
                        <li><a href="#">자동문자</a></li>
                        <li><a href="#">TM 홍보문자</a></li>
                        <li><a href="#">개별 발송결과</a></li>
                        <li><a href="#">대량 발송결과</a></li>
                        <li><a href="#">수신거부</a></li>
                    </ul>
                </li>
                <li>
                    <a id="menu_dapth_setting" href="#"><i class="fa fa-cog"></i><span class="fold_hide">기본설정</span></a>
                    <ul class="depth2">
                        <li><a href="#">단지설정</a></li>
                        <li><a href="#">설문환경 설정</a></li>
                        <li><a href="#">이벤트 설정</a></li>
                    </ul>
                </li>
            </ul>
            <a href="#" class="btn_fold"><img src="common/img/btn_fold.png" alt="" /></a>
        </nav>
        <!--// lnb -->

        <div id="container">
            <div class="location">
                <span class="home"><i class="fa fa-home"></i></span>
                <span>기본설정</span>
                <strong>단지설정</strong>
            </div>
            <!--// location-->

            <div class="con_box search">
                <h3 class="mt0">단지 통합검색</h3>
                <div class="bg_gray">
                    <input type="text" name="searchText" value="" style="width:89%;" />
                    <a href="#" class="btn small full_green" style="width:9%;">검색</a>
                </div>
            </div>
            <!--// con_box -->

            <div class="con_box danzi_list">
                <h3 class="mt0">단지 리스트</h3>
                <table class="tbl th_hor" border="0" cellpadding="0" cellspacing="0">
                    <caption></caption>
                    <colgroup>
                        <col width="6%" />
                        <col width="9%" />
                        <col width="/" />
                        <col width="22%" />
                        <col width="16%" />
                        <col width="9%" />
                        <col width="10%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="row">No</th>
                            <th scope="row">자이코드</th>
                            <th scope="row">단지명</th>
                            <th scope="row">지역</th>
                            <th scope="row">등록일</th>
                            <th scope="row">CRM 코드 </th>
                            <th scope="row">CRM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>418</td>
                            <td>4584</td>
                            <td><a href='/setting/crm/overview?crmSeq=4'>춘천 삼천동</a></td>
                            <td>강원도 춘천시</td>
                            <td>2017-09-05 오전 12:00:00</td>
                            <td>4</td>
                            <td><a href="/setting/crm/overview?crmSeq=4" class="btn small gray">상세</a></td>
                        </tr>
                        <tr>
                            <td>417</td>
                            <td>3524</td>
                            <td><a href='/setting/crm/overview?crmSeq=3'>일산자이2단지</a></td>
                            <td>경기도 고양시 일산동구 식사동</td>
                            <td>2008-06-11 오전 12:00:00</td>
                            <td>3</td>
                            <td><a href="/setting/crm/overview?crmSeq=3" class="btn small gray">상세</a></td>
                        </tr>
                        <tr>
                            <td>416</td>
                            <td>4484</td>
                            <td><a href='/setting/crm/overview?crmSeq=2'>광안자이</a></td>
                            <td>부산시 수영구</td>
                            <td>2017-04-10 오전 12:00:00</td>
                            <td>2</td>
                            <td><a href="/setting/crm/overview?crmSeq=2" class="btn small gray">상세</a></td>
                        </tr>
                        <tr>
                            <td>415</td>
                            <td>4564</td>
                            <td><a href='/setting/crm/overview?crmSeq=1'>속초자이</a></td>
                            <td>강원도 속초시</td>
                            <td>2017-08-22 오전 12:00:00</td>
                            <td>1</td>
                            <td><a href="/setting/crm/overview?crmSeq=1" class="btn small gray">상세</a></td>
                        </tr>
                        <tr>
                            <td>414</td>
                            <td>3705</td>
                            <td><a href='#'>연산자이2차</a></td>
                            <td>부산시 연제구 연산동 </td>
                            <td>2011-09-02 오전 12:00:00</td>
                            <td></td>
                            <td><button type="button" class="btn small blue">생성</button></td>
                        </tr>
                        <tr>
                            <td>413</td>
                            <td>3745</td>
                            <td><a href='#'>연희자이엘라</a></td>
                            <td>서울시 서대문구</td>
                            <td>2012-07-26 오전 12:00:00</td>
                            <td></td>
                            <td><button type="button" class="btn small blue">생성</button></td>
                        </tr>
                        <tr>
                            <td>412</td>
                            <td>3144</td>
                            <td><a href='#'>신당1동재개발</a></td>
                            <td>서울시</td>
                            <td>2007-10-23 오전 12:00:00</td>
                            <td></td>
                            <td><button type="button" class="btn small blue">생성</button></td>
                        </tr>
                    </tbody>
                </table>

                <div class="paging">
                    <a href="#" class="btn_first"><i class=""></i><span class="hidden">처음으로</span></a>
                    <a href="#" class="btn_prev"><i class=""></i><span class="hidden">이전으로</span></a>
                    <span>
                        <strong>1</strong>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        <a href="#">8</a>
                        <a href="#">9</a>
                        <a href="#">10</a>
                    </span>
                    <a href="#" onclick="onPaging(document.listForm, '')" class="btn_next"><i class=""></i><span class="hidden">다음으로</span></a>
                    <a href="#" onclick="onPaging(document.listForm, '')" class="btn_last"><i class=""></i><span class="hidden">마지막으로</span></a>
                </div>
                <!--// paging-->
                <!--// btn_area-->
            </div>
            <!--// con_box -->
        </div>
        <!--// container -->

        <footer id="footer"></footer>
        <!--// footer-->

        <div id="mask"></div>
        <!--//mask-->
    </div>
    <!--// wrap-->

    <script type="text/javascript" src="~/Contents/SiteMngHome/Common/js/front.js"></script>
    <script type="text/javascript">
$(function(){
    MYAPP.common.init();
});
    </script>
</body>
</html>