@{

}

<div class="contents">
    <div class="sub_tit_wrap">
        <a href="#none;" class="btn_flat type_gray">@Text["목록보기"]</a>
        <ul class="location">
            <li><a href="#none;">HOME</a></li>
            <li><a href="#none;">@Text["HALLO 소개"]</a></li>
        </ul>
    </div>

    <div class="headline">
        <h2 class="tit">한라그룹 커뮤니케이션 채널 'HALLO' 오픈</h2>
    </div>

    <div class="ex_con_wrap">
        <div class="introduce">
            <div class="txt_wrap">
                <p>
                    Hallo~ (안녕) 한라가족 여러분,<br><br>
                    왜 회사 이야기는 늘 딱딱해야 하죠?<br> 바쁜 업무중에, 잠시 쉬어갈 만한 벤치 하나 있으면 좋지 않을까요?<br>
                    Hallo는 ‘한라’라는 같은 배를 타고 항해하는 ‘우리’가 주인공입니다.<br>
                    Hallo는 유쾌하게 때론 진지하게, 톡쏘는 사이다처럼 때론 부드러운 초코케익처럼<br>
                    사내의 이야기들을 풀어내고 소통하는 공간입니다.<br>
                    한라인의 중심채널 Hallo에 당신을 초대합니다!<br><br><br><br>
                </p>
            </div>

            <img src="@(Config.AppPath)inc/images/contents/img_introduce.jpg" alt="대한민국 중공업 선도자에서 글로벌 기업으로 도약한 한라그룹">
        </div>
    </div>
</div>