@model ArticleEntity
@{
    var item = Model;
    if (item == null) { return; }

    var menu = ViewData["_Menu"] as Dictionary<string, CategoryEntity>;

    string path = item.ThumbPath;
    if (string.IsNullOrEmpty(path) || !System.IO.File.Exists(Server.MapPath(path)))
    {
        path = $"{Config.AppPath}inc/images/contents/default.jpg";
    }

}
<div class="cont_box">
    <a href="~/Article/Read?id=@item.ArticleID">
        <img src="@path" alt="">
        <div class="txt_box">
            <p class="tit">@item.Title</p>
        </div>
    </a>
</div>