<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GCLabs</title>
    
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    
    

</head>

<body>
    <div class="skip_nav">
        <a href="#gnb" class="goto-menu">주메뉴 바로가기</a>
        <a href="#container" class="goto-content">본문 바로가기</a>
    </div>
    <div class="wrap ">
        <header id="header" class="">
            <!-- gnb open class: gnb-open -->
            <div class="dimmed"></div>
            <div class="header-wrap">
                <h1 class="top-logo"><a href="#n"><img src="../../../assets/images/gclabs-logo.png" alt="gclabs"></a></h1>
                <!-- mobile gnb open-->
                <div class="toggle-memu-mo">
                    <button type="button" class="toggle-btn"><span class="hidden">주 메뉴 열기</span></button>
                </div>

                <nav id="gnb" class="gnb">
                    <div class="gnb-wrap">
                        <!-- mobile only -->
                        <div class="mobile-top">
                            <div class="mo-inner">
                                <ul class="lang-list">
                                    <li class="active"><a href="#n"><span>KOR</span></a></li>
                                    <li class=""><a href="#n"><span>ENG</span></a></li>
                                </ul>
                                <div class="mobile-close">
                                    <button type="button" class="mo-closed"><span class="hidden">메뉴 닫기</span></button>
                                </div>
                            </div>
                        </div>
                        <!-- // mobile only -->
                        <h2 class="hidden">주 메뉴</h2>
                        <div class="back-bg"></div>
                        <ul class="depth1-wrap">
                            <li class="depth1">
                                <!-- addclass : active -->
                                <a href="#n" class="item"><span>검사안내</span></a>
                                <div class="depth2-menu">
                                    <ul class="depth2-wrap">
                                        <li class="depth2">
                                            <!-- addclass : active -->
                                            <a href="#n" class="item-d2"><span>검사의뢰</span></a>
                                            <ul class="depth3-wrap">
                                                <li class="depth3"><a href="#n" class="item-d3"><span>검사의뢰절차</span></a></li><!-- addclass : active -->
                                                <li class="depth3"><a href="#n" class="item-d3"><span>검사의뢰서</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2">
                                            <a href="#n" class="item-d2"><span>검체채취</span></a>
                                            <ul class="depth3-wrap">
                                                <li class="depth3"><a href="#n" class="item-d3"><span>검체 채취</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>진단검사 검체취급</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>병리검사 검체취급</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>검체 용기</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2">
                                            <a href="#n" class="item-d2"><span>검사항목</span></a>
                                            <ul class="depth3-wrap">
                                                <li class="depth3"><a href="#n" class="item-d3"><span>검사항목</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>알러지 항원</span></a></li>
                                                <li class="depth3">
                                                    <a href="#n" class="item-d3"><span>질환별 Panel검사</span></a>
                                                </li>
                                                <li class="depth3">
                                                    <a href="#n" class="item-d3"><span>종합검진 Panel검사</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="depth2">
                                            <a href="#n" class="item-d2"><span>결과확인</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth1">
                                <a href="#n" class="item"><span>검사부</span></a>
                                <div class="depth2-menu">
                                    <ul class="depth2-wrap">
                                        <li class="depth2"><a href="#n" class="item-d2"><span>진단검사의학부</span></a></li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>병리학부</span></a></li>
                                        <li class="depth2">
                                            <a href="#n" class="item-d2"><span>지역검사센터</span></a>
                                            <ul class="depth3-wrap">
                                                <li class="depth3"><a href="#n" class="item-d3"><span>광주검사센터</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>제주검사센터</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>감염병연구센터</span></a></li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>직업환경의학센터</span></a></li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>정도관리</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth1">
                                <a href="#n" class="item"><span>연구개발</span></a>
                                <div class="depth2-menu">
                                    <ul class="depth2-wrap">
                                        <li class="depth2">
                                            <a href="#n" class="item-d2"><span>정책과제</span></a>
                                            <ul class="depth3-wrap">
                                                <li class="depth3"><a href="#n" class="item-d3"><span>정책과제</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>운영실적</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>생물자원제작</span></a></li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>체외진단의료기기</span></a></li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>IRB</span></a></li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>임상연구검사</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth1">
                                <a href="#n" class="item"><span>고객지원</span></a>
                                <div class="depth2-menu">
                                    <ul class="depth2-wrap">
                                        <li class="depth2"><a href="#n" class="item-d2"><span>GC Labs 공문</span></a></li>
                                        <li class="depth2">
                                            <a href="#n" class="item-d2"><span>학술자료</span></a>
                                            <ul class="depth3-wrap">
                                                <li class="depth3"><a href="#n" class="item-d3"><span>I&amp;T</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>신규검사</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>브로슈어</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>인증현황</span></a></li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>검사약어</span></a></li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>학술발표</span></a></li>
                                        <li class="depth2">
                                            <a href="#n" class="item-d2"><span>고객문의</span></a>
                                            <ul class="depth3-wrap">
                                                <li class="depth3"><a href="#n" class="item-d3"><span>고객문의</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>자주하는질문</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth1">
                                <a href="#n" class="item"><span>재단홍보</span></a>
                                <div class="depth2-menu">
                                    <ul class="depth2-wrap">
                                        <li class="depth2"><a href="#n" class="item-d2"><span>언론보도</span></a></li>
                                        <li class="depth2">
                                            <a href="#n" class="item-d2"><span>LIVE GC Labs</span></a>
                                            <ul class="depth3-wrap">
                                                <li class="depth3"><a href="#n" class="item-d3"><span>MEDICAL</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>HEALTH</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>PEOPLE</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>재단소식</span></a></li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>홍보영상</span></a></li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>사회공헌</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth1">
                                <a href="#n" class="item"><span>재단소개</span></a>
                                <div class="depth2-menu">
                                    <ul class="depth2-wrap">
                                        <li class="depth2">
                                            <a href="#n" class="item-d2"><span>재단소개</span></a>
                                            <ul class="depth3-wrap">
                                                <li class="depth3"><a href="#n" class="item-d3"><span>재단소개</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>인사말</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>전문의</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>연혁</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2">
                                            <a href="#n" class="item-d2"><span>경영이념</span></a>
                                            <ul class="depth3-wrap">
                                                <li class="depth3"><a href="#n" class="item-d3"><span>미션&amp;비전</span></a></li>
                                                <li class="depth3"><a href="#n" class="item-d3"><span>핵심가치</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>네트워크</span></a></li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>해외사업</span></a></li>
                                        <li class="depth2"><a href="#n" class="item-d2"><span>오시는길</span></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <!-- pc only : menu closed -->
                        <div class="menu-closed-pc">
                            <div class="inner">
                                <button type="button" class="btn-menu-closed"><span class="hidden">메뉴 닫기</span></button>
                            </div>
                        </div>
                        <!-- // pc only : menu closed -->
                    </div>
                </nav>
                <div class="top-util">
                    <div class="top-search">
                        <!-- search-layer open class: sch-open -->
                        <button type="button" class="btn-search btn-open"><span class="hidden">검색 열기</span></button>
                        <div class="search-layer">
                            <div class="search-inner">
                                <div class="inner">
                                    <form action="">
                                        <div class="search-area">
                                            <span class="search-box">
                                                <input type="text" id="" class="inp-search" title="검색어 입력" placeholder="검색어를 입력하세요.">
                                            </span>
                                            <span class="search-btn">
                                                <button type="submit" class="search-go"></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- pc lang-->
                    <div class="top-lang">
                        <p class="curr-lang"><a href="#n"><span>KOR</span></a></p>
                        <div class="lang-list-wrap">
                            <ul class="lang-list">
                                <li class=""><a href="#n"><span>KOR</span><img src="../../../assets/images/lang-kor.png" alt=""></a></li>
                                <li class=""><a href="#n"><span>ENG</span><img src="../../../assets/images/lang-eng.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- // top util -->
            </div>
        </header>
        <div id="container" class="container test-information">
            <div class="contents-wrap allergen-index">
                <div class="contents-inner">
                    <div class="breadcrumb">
                        <span><a href="#">홈</a></span>

                        <span><a href="#">검사안내</a></span>

                        <span><a href="#">검사항목</a></span>

                        <span class="current">종합검진 Panel 검사</span>
                    </div>
                    <div class="page-title">
                        <h2 class="title">종합검진 Panel 검사</h2>
                        <p class="text">맞춤 검사를 통해 보다 정확도 높은 검사 시행합니다.</p>
                    </div>
                    <div class="board-wrap">
                        <div class="board-list-head">


                            <div class="search-wrap">
                                <form action="">
                                    <div class="search-area">
                                        <span class="search-box">
                                            <input type="text" class="inp-search" title="검색어 입력" placeholder="검색어를 입력하세요.">
                                        </span>
                                        <span class="search-btn">
                                            <button type="submit" class="search-go"></button>
                                        </span>
                                    </div>
                                </form>

                            </div>
                            <div class="total-count">Total <span>1,058</span></div>
                        </div>


                        <div class="accordion-wrap acc-tabletype">
                            <div class="accordion-inner">
                                <div class="accordion-header">
                                    <span class="tit tit-num">번호</span>
                                    <span class="tit tit-cont">질환명</span>
                                </div>
                                <ul class="accordion-list">



                                    <li class="acc-item">
                                        <a href="#n" class="acc-tit">
                                            <span class="num">10</span>
                                            <span class="tit-txt">G (grass pollenes / 풀, 화분)</span>
                                        </a>
                                        <div class="acc-cont">
                                            <div class="cont-txt">

                                                <div class="table-wrap">
                                                    <div class="table-inner">
                                                        <table class="table tb-gray grid-ty1">
                                                            <colgroup>
                                                                <col style="width: 15%">
                                                                <col style="width: 35%">
                                                                <col style="width: 15%">
                                                                <col style="width: 35%">
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th>알러지코드</th>
                                                                    <th>알러지명</th>
                                                                    <th>알러지코드</th>
                                                                    <th>알러지명</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="f-green">G1</td>
                                                                    <td>Sweet vernal (향기풀)</td>
                                                                    <td class="f-green">G1</td>
                                                                    <td>Sweet vernal (향기풀)</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="f-green">G1</td>
                                                                    <td>Sweet vernal (향기풀)</td>
                                                                    <td class="f-green">G1</td>
                                                                    <td>Sweet vernal (향기풀)</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!-- //-->
                                            </div>
                                        </div>
                                    </li>





                                    <li class="acc-item">
                                        <a href="#n" class="acc-tit">
                                            <span class="num">9</span>
                                            <span class="tit-txt">G (grass pollenes / 풀, 화분)</span>
                                        </a>
                                        <div class="acc-cont">
                                            <div class="cont-txt">

                                                <div class="table-wrap">
                                                    <div class="table-inner">
                                                        <table class="table tb-gray grid-ty1">
                                                            <colgroup>
                                                                <col style="width: 15%">
                                                                <col style="width: 35%">
                                                                <col style="width: 15%">
                                                                <col style="width: 35%">
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th>알러지코드</th>
                                                                    <th>알러지명</th>
                                                                    <th>알러지코드</th>
                                                                    <th>알러지명</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="f-green">G1</td>
                                                                    <td>Sweet vernal (향기풀)</td>
                                                                    <td class="f-green">G1</td>
                                                                    <td>Sweet vernal (향기풀)</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="f-green">G1</td>
                                                                    <td>Sweet vernal (향기풀)</td>
                                                                    <td class="f-green">G1</td>
                                                                    <td>Sweet vernal (향기풀)</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!-- //-->
                                            </div>
                                        </div>
                                    </li>



                                </ul>
                            </div>
                        </div>

                        <div class="paging-wrap">
                            <a href="#" class="first"></a>
                            <a href="#" class="pre"></a>
                            <ul class="paging">
                                <li class="on"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                            <a href="#" class="next"></a>
                            <a href="#" class="last"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="floating-wrap">
            <ul class="quick-menu">
                <li class="highlight"><a href="#n"><span>검사<br>항목</span></a></li>
                <li><a href="#n"><span>검사<br>공문</span></a></li>
                <li><a href="#n"><span>검사<br>의뢰</span></a></li>
                <li><a href="#n"><span>고객<br>문의</span></a></li>
            </ul>
            <button type="button" class="to-top"><span class="hidden">맨 위로 가기</span></button>
        </div>
        <footer class="footer-wrap">
            <div class="foot-head">
                <div class="inner">
                    <div class="foot-util">
                        <a href="#n" class="link">
                            <span>GC FAMILY SITE</span>
                        </a>
                        <!-- [팝업] GC FAMILY SITE -->
                        <article class="layer-foot-site family">
                            <div class="site-inner">
                                <h2 class="title"><span class="hidden">GC FAMILY SITE</span></h2>
                                <ul class="site-links">
                                    <li>
                                        <h3 class="link-title"><span>Pharmaceutical</span> 제약</h3>
                                        <ul class="links">
                                            <li><a href="#n">GC녹십자MS</a></li>
                                            <li><a href="#n">GC녹십자웰빙</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3 class="link-title"><span>Healthcare</span> 의료</h3>
                                        <ul class="links">
                                            <li><a href="#n">GC Cell</a></li>
                                            <li><a href="#n">GC녹십자지놈</a></li>
                                            <li><a href="#n">GC케어</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3 class="link-title"><span>Healthcare</span> 의료</h3>
                                        <ul class="links">
                                            <li><a href="#n">GCCL</a></li>
                                            <li><a href="#n">그린벳</a></li>
                                            <li><a href="#n">유비케어</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3 class="link-title"><span>Overseas</span> 해외</h3>
                                        <ul class="links">
                                            <li><a href="#n">GC China</a></li>
                                            <li><a href="#n">GC China Pharm</a></li>
                                            <li><a href="#n">GCLabTech</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3 class="link-title"><span>Overseas</span> 해외</h3>
                                        <ul class="links">
                                            <li><a href="#n">Curevo</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3 class="link-title"><span>Foundation</span> 재단</h3>
                                        <ul class="links">
                                            <li><a href="#n">목암연구소</a></li>
                                            <li><a href="#n">GC녹십자의료재단</a></li>
                                            <li><a href="#n">GC녹십자아이메드</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3 class="link-title"><span>Others</span> 기타</h3>
                                        <ul class="links">
                                            <li><a href="#n">GC녹십자EM</a></li>
                                            <li><a href="#n">GC인백팜</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="layer-close"><span class="hidden">닫기</span></button>
                        </article>
                        <a href="#n" class="link">
                            <span>RELATED SITE</span>
                        </a>
                        <!-- [팝업] RELATED SITE -->
                        <article class="layer-foot-site related">
                            <div class="site-inner">
                                <h2 class="title"><span class="hidden">GC RELATED SITE</span></h2>
                                <ul class="site-links">
                                    <li>
                                        <ul class="links">
                                            <li><a href="#n">대한진단검사의학회</a></li>
                                            <li><a href="#n">대한임상검사정도관리협회</a></li>
                                            <li><a href="#n">한국유전자검사평가원</a></li>
                                            <li><a href="#n">건강보험심사평가원</a></li>
                                            <li><a href="#n">보건복지부</a></li>
                                            <li><a href="#n">질병관리청</a></li>
                                            <li><a href="#n">대한혈액학회</a></li>
                                            <li><a href="#n">한국미생물학회</a></li>
                                            <li><a href="#n">대한핵의학회</a></li>
                                            <li><a href="#n">FDA</a></li>
                                            <li><a href="#n">C&amp;R RESEARCH</a></li>
                                            <li><a href="#n">Quest Diagnostics</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="links">
                                            <li><a href="#n">College of American <br class="pc tablet">Pathologists</a></li>
                                            <li><a href="#n">Clinical and Laboratory <br class="pc tablet">Standards Institute</a></li>
                                            <li><a href="#n">Centers for Disease <br class="pc tablet">Control and Prevention</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="links">
                                            <li><a href="#n">BML <br class="pc tablet"><span class="jp">株式会社ビー・エム・エル</span></a></li>
                                            <li><a href="#n">SRL Medisearch <br class="pc tablet"><span class="jp">株式会社エスアールエル・メディサーチ</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="layer-close"><span class="hidden">닫기</span></button>
                        </article>
                    </div>
                    <div class="foot-sns">
                        <span class="text">GC Labs SNS</span>
                        <ul class="sns-list">
                            <li><a href="#n"><img src="../../../assets/images/footer-sns-youtube.png" alt=""></a></li>
                            <li><a href="#n"><img src="../../../assets/images/footer-sns-blog.png" alt=""></a></li>
                            <li><a href="#n"><img src="../../../assets/images/footer-sns-facebook.png" alt=""></a></li>
                            <li><a href="#n"><img src="../../../assets/images/footer-sns-instagram.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="foot-body">
                <div class="inner">
                    <div class="foot-logo">
                        <a href="#n" class="logo"><span class="hidden">GCLabs</span></a>
                    </div>
                    <div class="foot-content">
                        <ul class="foot-link">
                            <li><a href="#n">인재채용</a></li>
                            <li><a href="#n">오시는 길</a></li>
                            <li class="highlight"><a href="#n">개인정보처리방침</a></li>
                            <li><a href="#n">영상정보처리기기운영관리방침</a></li>
                            <li><a href="#n">이메일무단수집거부</a></li>
                        </ul>
                        <div class="foot-address">
                            <div class="info">
                                <span><address>경기도 용인시 기흥구 이현로 30번길 107</address></span>
                                <span>Tel: 1566-0131</span>
                                <span>Fax: 031-8061-6302</span>
                            </div>
                            <div class="copyright">COPYRIGHT ⓒ2022 GC Labs. All rights reserved.</div>
                        </div>
                    </div>
                    <div class="foot-support">
                        <span class="text">고객지원</span>
                        <div class="call-area">
                            <em class="number">1566-0131</em>
                            <a href="#n" class="btn-call"><span>문의하기</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="right-content">
        @RenderBody()
    </div>
</body>


<script type="text/javascript" src="../../../assets/lib/jquery-2.2.4.min.js"></script>
<!-- Live List Layout -->
<script type="text/javascript" src="../../../assets/lib/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="../../../assets/lib/slick.min.js"></script>
<script type="text/javascript" src="../../../assets/js/app.js"></script>


</html>