
/*공지사항 리스트*/
.notice_type {width:100%;}
.notice_type ul {overflow:hidden;}
.notice_type > ul > li,
.notice_type > ul > li > ul > li,
.notice_type > div > ul > li {float:left;}

.notice_type > ul.tbl_th {background-color:#39404b; height:44px; line-height:44px; border-bottom:1px solid #4f5764; border-top:1px solid #4f5764;}
.notice_type > ul.tbl_th > li {color:#fff; text-align:center; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.notice_type > ul.tbl_th > li:nth-child(1) {width:10%;}
.notice_type > ul.tbl_th > li:nth-child(2) {width:45%;}
.notice_type > ul.tbl_th > li:nth-child(3) {width:15%;}
.notice_type > ul.tbl_th > li:nth-child(4) {width:20%;}
.notice_type > ul.tbl_th > li:nth-child(5) {width:10%;}

.notice_type .tbl_td > ul {border-bottom:1px solid #4f5764; overflow:hidden; padding:20px 0;}
.notice_type .tbl_td > ul:last-child {border-bottom:1px solid #4f5764;}
.notice_type .tbl_td > ul > li {text-align:center; line-height:20px; vertical-align:middle;}
.notice_type .tbl_td > ul > li.txt_left {text-align:left;}
.notice_type .tbl_td > ul > li.tbl_ntc {color:#fff;}
.notice_type .tbl_td > ul > li:nth-child(1) {width:10%;}
.notice_type .tbl_td > ul > li:nth-child(2) {width:45%;}
.notice_type .tbl_td > ul > li:nth-child(3) {width:15%;}
.notice_type .tbl_td > ul > li:nth-child(4) {width:20%;}
.notice_type .tbl_td > ul > li:nth-child(5) {width:10%;}



/*기간별 알림 현황 리스트*/
.notice_type2 {width:100%;}
.notice_type2 ul {overflow:hidden;}
.notice_type2 > ul > li,
.notice_type2 > ul > li > ul > li,
.notice_type2 > div > ul > li {float:left;}

.notice_type2 > ul.tbl_th {background-color:#39404b; height:44px; line-height:44px; border-bottom:1px solid #4f5764; border-top:1px solid #4f5764;}
.notice_type2 > ul.tbl_th > li {color:#fff; text-align:center; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.notice_type2 > ul.tbl_th > li:nth-child(1) {width:10%;}
.notice_type2 > ul.tbl_th > li:nth-child(2) {width:70%;}
.notice_type2 > ul.tbl_th > li:nth-child(3) {width:20%;}

.notice_type2 .tbl_td2 > ul {border-bottom:1px solid #4f5764; overflow:hidden; padding:20px 0;}
.notice_type2 .tbl_td2 > ul:last-child {border-bottom:1px solid #4f5764;}
.notice_type2 .tbl_td2 > ul > li {text-align:center; line-height:20px; vertical-align:middle;}
.notice_type2 .tbl_td2 > ul > li.txt_left {text-align:left;}
.notice_type2 .tbl_td2 > ul > li.tbl_ntc {color:#fff;}
.notice_type2 .tbl_td2 > ul > li:nth-child(1) {width:10%;}
.notice_type2 .tbl_td2 > ul > li:nth-child(2) {width:70%;}
.notice_type2 .tbl_td2 > ul > li:nth-child(3) {width:20%;}

.notice_type3 {width:100%;}
.notice_type3 ul {overflow:hidden;}
.notice_type3 > ul > li,
.notice_type3 > ul > li > ul > li,
.notice_type3 > div > ul > li {float:left;}

.notice_type3 > ul.tbl_th {background-color:#39404b; height:44px; line-height:44px; border-bottom:1px solid #4f5764; border-top:1px solid #4f5764;}
.notice_type3 > ul.tbl_th > li {color:#fff; text-align:center; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.notice_type3 > ul.tbl_th > li:nth-child(1) {width:20%;}
.notice_type3 > ul.tbl_th > li:nth-child(2) {width:30%;}
.notice_type3 > ul.tbl_th > li:nth-child(3) {width:25%;}
.notice_type3 > ul.tbl_th > li:nth-child(4) {width:25%;}

.notice_type3 .tbl_td2 > ul {border-bottom:1px solid #4f5764; overflow:hidden; padding:20px 0;}
.notice_type3 .tbl_td2 > ul:last-child {border-bottom:1px solid #4f5764;}
.notice_type3 .tbl_td2 > ul > li {text-align:center; line-height:20px; vertical-align:middle;}
.notice_type3 .tbl_td2 > ul > li.txt_left {text-align:left;}
.notice_type3 .tbl_td2 > ul > li.tbl_ntc {color:#fff;}
.notice_type3 .tbl_td2 > ul > li:nth-child(1) {width:20%;}
.notice_type3 .tbl_td2 > ul > li:nth-child(2) {width:30%;}
.notice_type3 .tbl_td2 > ul > li:nth-child(3) {width:25%;}
.notice_type3 .tbl_td2 > ul > li:nth-child(4) {width:25%;}
.notice_type3 .tbl_td2 > ul > li:nth-child(4) > span.web {display:inline-block;}
.notice_type3 .tbl_td2 > ul > li:nth-child(4) > span.mobile {display:none;}
.notice_type3 .tbl_td2 > ul > li:nth-child(4) > span {background:url(../img/icon_phone.png) right center no-repeat; background-size:15px 15px; padding-right:20px;}

.excel {float:right}




/*공지사항 상세보기*/
.notice_type .tbl_view {margin-top:-30px; margin-bottom:30px;}
.notice_type .tbl_view > ul {border-bottom:1px solid #4f5764; overflow:hidden;}
.notice_type .tbl_view > ul:last-child {border-bottom:1px solid #4f5764;}
.notice_type .tbl_view > ul > li {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;  padding:20px 10px;}


.notice_type .tbl_view > .tbl_cont {padding:20px; border:1px solid #4f5764; border-top:0; width:100%; box-sizing:border-box;  background-color:#404753;}
.notice_type .tbl_view > .tbl_cont img {max-width:100%;}
.notice_type .tbl_view > .tbl_cont > .video_box {width:560px; margin:0 auto 30px auto !important;}
.notice_type .tbl_view > .tbl_cont > .video_box > iframe {width:100%;}
.notice_type .tbl_view .txt_left {width:100%; font-size:20px; line-height:25px;}
.notice_type .tbl_view .tbl_view_m .txt_left:after {content:''; padding-left:0;}
.notice_type .tbl_view .tbl_view_m > li {line-height:25px;}
.notice_type .tbl_view .tbl_view_m > li:empty:after {content:''; width:100px; display:inline-block;}
.notice_type .tbl_view .tbl_view_m > li:after {content:'|'; padding-left:10px;}
.notice_type .tbl_view .tbl_view_m > li:last-child:after {content:''; padding-left:0;}

.tbl_view_cul li {box-sizing:border-box;  background-color:#39404b;}
.tbl_view_cul li:nth-child(1) {width:13%; text-align:center; }
.tbl_view_cul li:nth-child(2) {width:20%; background-color:#404753;}
.tbl_view_cul li:nth-child(3) {width:13%; text-align:center;}
.tbl_view_cul li:nth-child(4) {width:20%; background-color:#404753;}
.tbl_view_cul li:nth-child(5) {width:13%; text-align:center;}
.tbl_view_cul li:nth-child(6) {width:20%; background-color:#404753;}
.tbl_view_cul li:nth-child(7) {width:13%; text-align:center;}
.tbl_view_cul li:nth-child(8) {width:20%; background-color:#404753;}
.tbl_view_cul li:nth-child(9) {width:13%; text-align:center;}
.tbl_view_cul li:nth-child(10) {width:20%; background-color:#404753;}

.notice_type .tbl_view > ul.tbl_file > li:first-child { background-color:#39404b; width:13%; text-align:center;}
.notice_type .tbl_view > ul.tbl_file > li > a {display:block; box-sizing:border-box;}
.notice_type .tbl_view > ul.tbl_file > li > a:hover {border-bottom:1px solid #4f5764; }
.notice_type .tbl_view > ul.tbl_file > li > a:last-child {margin-bottom:0;}

/*공지사항 쓰기*/
.notice_type .tbl_write {margin-top:-30px; margin-bottom:30px; border-top:2px solid #4f5764; background-color:#39404b;}
.notice_type .tbl_write > ul {border-bottom:1px solid #4f5764; overflow:hidden;}
.notice_type .tbl_write > ul > li {padding-left:10px;  -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;  padding:15px 0;}
.notice_type .tbl_write > .tbl_cont {padding:20px; border-bottom:1px solid #4f5764;}
.notice_type .tbl_write > .tbl_cont img {max-width:100%;}
.notice_type .tbl_write .txt_left {width:10%; font-size:16px; line-height:25px;}
.notice_type .tbl_write .tbl_view_m .txt_left:after {content:''; padding-left:0;}
.notice_type .tbl_write .tbl_view_m > li {line-height:25px;}
.notice_type .tbl_write .tbl_view_m > li:last-child{width:87%;  background-color:#404753;}
.notice_type .tbl_write input {height:23px; border:1px solid #4f5764;  background-color:#39404b; color:#fff;}
.notice_type .tbl_write select {height:23px; border:1px solid #4f5764; min-width:150px;  background-color:#39404b;  color:#fff;}
.notice_type .tbl_write > .tbl_editer {padding:0; margin:0; border:1px solid #4f5764; border-top:0;   background-color:#404753;}

.tbl_write > ul > li:nth-child(1) {width:13%; text-align:center; background-color:#39404b;}
.tbl_write > ul > li:nth-child(2) {width:87%; padding-left:20px; box-sizing:border-box;}


.btn_b{
    margin-top:20px;
	margin-bottom:20px;
	float:right;
	display:block;
	}



.pager {text-align:center; overflow:hidden; margin-top:30px; position:relative;}
.pager a {display:inline-block; width:33px; height:33px; border:1px solid #ccc; vertical-align:middle; line-height:33px; box-sizing:border-box;}
.pager a:hover {background-color:#424953; border:2px solid #fff; color:#fff;}
.pager a.active {background-color:#424953; border:2px solid #fff; color:#fff;}
.pager a.no_active {background-color:#424953; color:#ccc; border:1px solid #ccc;}
.pager .btn_box {position:absolute; top:0; right:0; margin-top:0; border:1px solid #ccc;}
.pager .btn_box a {display:inline-block; }
.pager .btn_box .btn_go_write {display:block; color:#fff; width:auto; height:31px; line-height:31px; text-align:center; padding:0 30px 0 15px; box-sizing:border-box; cursor:pointer; background:url(../img/btn_icon_write.png) 85% center no-repeat;}


.input_pass {width:30%;}


@media only screen and (max-width:1100px){
	.width_box {width:100%; padding:0 15px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
	.top_sns {display:none;}
	.top_head .top_logo {top:0; left:15px; max-width:70%;}
	.top_head {padding-top:15px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; height:170px;}

	.top_head .top_menu .menu_btn {display:inline-block; text-align:right; margin-right:15px; margin-top:10%; float:right;}
	.top_head .top_menu .menu_btn img {width:34px; height:24px;}


	.top_head {position:relative;}
	.top_head .top_menu {top:6%; right:0;}
	.top_head .top_menu > ul {position:absolute; top:50px; left:0; width:100%; background-color:rgba(0,0,0,0.9); display:none; z-index:999;}
	.top_head .top_menu > ul > li {float:none; width:100%; text-align:left; padding:10px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
	.top_head .top_menu > ul > li > ul { background-color:rgba(0,0,0,0);}
	.top_head .top_menu > ul > li > ul > li >a:focus {background-color:red;}
	.transition { /* 크기 애니메이션 적용  */transition: height 100s ease-in-out;}

	.notice_type .tbl_view .txt_left {width:100%; margin-bottom:10px;}
	.notice_type .tbl_view .tbl_view_m > li:nth-child(2) {display:none;}
}


@media only screen and (max-width:1024px){
 .notice_type3 .tbl_td2 > ul > li:nth-child(4) > a {pointer-events:auto;}

 .notice_type3 .tbl_td2 > ul > li:nth-child(4) > span.web {display:none;}
 .notice_type3 .tbl_td2 > ul > li:nth-child(4) > span.mobile {display:inline-block;}
}



@media only screen and (max-width:900px){
	.view_page_link li {float:left; width:49%; margin-right:2%; margin-bottom:15px;}
	.view_page_link li:nth-child(even) {margin-right:0;}
	.view_page_link li > a > dl {width:100%;}
	.view_page_link li > a > dl > dt {margin-bottom:10px;}
	.view_page_link li > a > dl > dt > img {width:100%;}
	.view_page_link li > a > dl > dd {line-height:20px;}

	.notice_type .tbl_write .txt_left {width:100%; margin-bottom:10px;}
	.notice_type .tbl_write .tbl_view_m > li:last-child{width:100%;}
	.tbl_write > ul > li:nth-child(2) {padding:10px; box-sizing:border-box;}

	.input_pass {width:100%;}
}




@media only screen and (max-width:767px){
	.top_head .top_logo img {height:33px;}

	.top_head .top_menu .menu_btn {display:inline-block;}
	.top_head .top_menu .menu_btn img {width:34px; height:24px;}
	.top_head .top_menu > ul {top:60%;}


	.notice_type .tbl_th {display:none;}
	.notice_type .tbl_td {margin-top:-30px;}
	.notice_type .tbl_td > ul:first-child {border-top:2px solid #4f5764;}
	.notice_type .tbl_td > ul > li {text-align:left;}
	.notice_type .tbl_td > ul > li.tbl_ntc span:before {content:'[';}
	.notice_type .tbl_td > ul > li.tbl_ntc span:after {content:']';}
	.notice_type .tbl_td > ul > li:nth-child(1) {width:auto; margin-right:10px;}
	.notice_type .tbl_td > ul > li:nth-child(2) {width:auto;}
	.notice_type .tbl_td > ul > li:nth-child(3) {display:none;}
	.notice_type .tbl_td > ul > li:nth-child(4) {width:auto; clear:both; margin-top:5px;}
	.notice_type .tbl_td > ul > li:nth-child(4):after {content:'|'; color:#ccc; padding:0 10px;}
	.notice_type .tbl_td > ul > li:nth-child(5) { width:auto; text-align:left; margin-top:5px;}


	.notice_type .tbl_view > .tbl_cont > .video_box {width:100%; margin:0 auto 30px auto !important;}


	.pager {text-align:center;}
	.w_btn {padding-top:60px;}
	.pager a {text-align:center;}
	.pager .btn_box {left:50%; width:100px; margin-left:-50px;}

	.tbl_view_cul li:nth-child(1) {background-color:transparent; width:auto; padding:10px 0 10px 10px !important; display:none;}
	.tbl_view_cul li:nth-child(3) {background-color:transparent; width:auto; padding:10px 0 10px 10px !important; display:none;}
	.tbl_view_cul li:nth-child(5) {background-color:transparent; width:auto; padding:10px 0 10px 10px !important; display:none;}
	.tbl_view_cul li:nth-child(7) {background-color:transparent; width:auto; padding:10px 0 10px 10px !important; display:none;}
	.tbl_view_cul li:nth-child(9) {background-color:transparent; width:auto; padding:10px 0 10px 10px !important; display:none;}

	.tbl_view_cul li:nth-child(1):after {content:'|'; margin:0 10px;}
	.tbl_view_cul li:nth-child(3):after {content:'|'; margin:0 10px;}
	.tbl_view_cul li:nth-child(5):after {content:'|'; margin:0 10px;}
	.tbl_view_cul li:nth-child(7):after {content:'|'; margin:0 10px;}
	.tbl_view_cul li:nth-child(9):after {content:'|'; margin:0 10px;}

	.tbl_view_cul li:nth-child(2) {width:auto; min-width:33.333%; text-align:left; padding:10px !important;}
	.tbl_view_cul li:nth-child(4) {width:auto; min-width:33.333%; text-align:left; padding:10px !important;}
	.tbl_view_cul li:nth-child(6) {width:auto; min-width:33.333%; text-align:left; padding:10px !important;}
	.tbl_view_cul li:nth-child(8) {width:auto; min-width:33.333%; text-align:left; padding:10px !important;}
	.tbl_view_cul li:nth-child(10){width:auto; min-width:33.333%; text-align:left; padding:10px !important;}

	.notice_type .tbl_view > ul.tbl_file > li:first-child {background-color:transparent; width:auto; padding:10px 0 10px 10px !important;}
	.notice_type .tbl_view > ul.tbl_file > li:first-child:after {content:'|'; margin:0 10px;}
	.notice_type .tbl_view > ul.tbl_file > li {padding:10px 0 10px 10px !important;}

	.notice_type .tbl_view > ul > li {padding:10px 10px;}


	.notice_type2 > ul.tbl_th {display:none;}
	.notice_type2 .tbl_td2 {margin-top:-30px;}
	.notice_type2 .tbl_td2 > ul:first-child {border-top:2px solid #4f5764;}
	.notice_type2 .tbl_td2 > ul {border-bottom:1px solid #4f5764; overflow:hidden; padding:20px 0;}
	.notice_type2 .tbl_td2 > ul:last-child {border-bottom:1px solid #4f5764;}
	.notice_type2 .tbl_td2 > ul > li {text-align:left; line-height:20px; vertical-align:middle;}
	.notice_type2 .tbl_td2 > ul > li.txt_left {text-align:left;}
	.notice_type2 .tbl_td2 > ul > li.tbl_ntc {color:#fff;}
	.notice_type2 .tbl_td2 > ul > li.tbl_ntc > span:before {content:'['; display:inline-block;}
	.notice_type2 .tbl_td2 > ul > li.tbl_ntc > span:after {content:']'; display:inline-block;}
	.notice_type2 .tbl_td2 > ul > li:nth-child(1) {width:14%; margin-left:1%;}
	.notice_type2 .tbl_td2 > ul > li:nth-child(2) {width:83%;}
	.notice_type2 .tbl_td2 > ul > li:nth-child(3) {width:100%; text-align:left; margin-top:10px; margin-left:1%;}


	.notice_type3 > ul.tbl_th {display:none;}
	.notice_type3 .tbl_td2 {margin-top:-30px;}
	.notice_type3 .tbl_td2 > ul:first-child {border-top:2px solid #4f5764;}
	.notice_type3 .tbl_td2 > ul {border-bottom:1px solid #4f5764; overflow:hidden; padding:20px 0;}
	.notice_type3 .tbl_td2 > ul:last-child {border-bottom:1px solid #4f5764;}
	.notice_type3 .tbl_td2 > ul > li {text-align:left; line-height:20px; vertical-align:middle; margin-left:10px;}
	.notice_type3 .tbl_td2 > ul > li.txt_left {text-align:left;}
	.notice_type3 .tbl_td2 > ul > li.tbl_ntc {color:#fff;}
	.notice_type3 .tbl_td2 > ul > li:nth-child(1) {width:auto;}
	.notice_type3 .tbl_td2 > ul > li:nth-child(2) {width:auto;}
	.notice_type3 .tbl_td2 > ul > li:nth-child(3) {width:50%;}
	.notice_type3 .tbl_td2 > ul > li:nth-child(4) {width:200px; margin-top:10px;}
	.notice_type3 .tbl_td2 > ul > li:nth-child(5) {width:auto; margin-top:10px;}

	.notice_type3 .tbl_td2 > ul > li:nth-child(1):after {content:'|'; margin:0 10px; display:inline-block;}
	.notice_type3 .tbl_td2 > ul > li:nth-child(2):after {content:'|'; margin:0 10px; display:inline-block;}
}



/* 교량, 댐 수위별 범례 리스트*/
.legend_type {width:100%;}
.legend_type ul {overflow:hidden;}
.legend_type > ul > li,
.legend_type > ul > li > ul > li,
.legend_type > div > ul > li {float:left;}

.legend_type > ul.tbl_th {background-color:#39404b; height:44px; line-height:44px; border-bottom:1px solid #4f5764; border-top:1px solid #4f5764;}
.legend_type > ul.tbl_th > li {color:#fff; text-align:center; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.legend_type > ul.tbl_th > li:nth-child(1) {width:33.3%;}
.legend_type > ul.tbl_th > li:nth-child(2) {width:33.3%;}
.legend_type > ul.tbl_th > li:nth-child(3) {width:33.3%;}

.legend_type .tbl_td > ul {border-bottom:1px solid #4f5764; overflow:hidden; padding:20px 0;}
.legend_type .tbl_td > ul:last-child {border-bottom:1px solid #4f5764;}
.legend_type .tbl_td > ul > li {text-align:center; line-height:20px; vertical-align:middle;}
.legend_type .tbl_td > ul > li.txt_left {text-align:left;}
.legend_type .tbl_td > ul > li.tbl_ntc {color:#fff;}
.legend_type .tbl_td > ul > li:nth-child(1) {width:33.3%;}
.legend_type .tbl_td > ul > li:nth-child(2) {width:33.3%;}
.legend_type .tbl_td > ul > li:nth-child(3) {width:33.3%;}


