/*그래프용 임시 CSS*/
.c3-ygrid-line.level1 line {
    stroke: blue;
}
.c3-ygrid-line.level2 line {
    stroke: green;
}
.c3-ygrid-line.level2_1 line {
    stroke: yellow;
}
.c3-ygrid-line.level2_2 line {
    stroke: pink;
}
.c3-ygrid-line.level3 line {
    stroke: yellow;
}
.c3-ygrid-line.level4 line {
    stroke: pink;
}
.c3-ygrid-line.level5 line {
    stroke: red;
}
 .c3 .c3-axis-x path, .c3 .c3-axis-x line { 
stroke: white;
} 
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
 stroke: white;
} 
 .c3 .c3-axis-x path, .c3 .c3-axis-x text { 
stroke: white;
} 
.c3 .c3-axis-y path, .c3 .c3-axis-y text {
 stroke: white;
}
.c3 .c3-axis-y2 path, .c3 .c3-axis-y2 line {
 stroke: #ffff00;
} 
.c3 .c3-axis-y2 path, .c3 .c3-axis-y2 text {
 stroke: #ffff00;
}