/* reset */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea {margin:0; padding:0; ; font-family:'nbg', '나눔바른고딕', 'Malgun Gothic', 'arial'}
html {font-size:100%; color:#333; height:100%;}
body {font-size:14px; word-break:break-all; background-color:#1d2225;}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
label {cursor:pointer}
table {table-layout:fixed; border-spacing:0}
img, fieldset {border:0 }
th, td {empty-cells:show}
td {vertical-align:middle}
ol, ul, li {list-style:none}
label {cursor:pointer}
form {display:inline}
legend, hr, caption {visibility:hidden; overflow:hidden; text-indent:-10000px; width:0; height:0; font-size:0; line-height:0; text-align:left}
img, input, td, th, input, select, button {vertical-align:middle}
button {cursor:pointer;}
textarea {resize:none}

/* link */
a:link, a:visited,
a:hover, a:focus, a:active {text-decoration:none; color:#fff;}

.m_header {background-color:#2d343a; height:95px; position:fixed; top:0; left:0; width:100%; z-index:9999;}
.m_header .t_logo {width:38%; text-align:left; padding:34px 0 0 20px; box-sizing:border-box;}
.m_header .t_logo > div {position:absolute; top:20px; left:16%; z-index:10; background:url(../img/top_icon01.png) left center no-repeat; padding-left:30px;}
.m_header .t_logo > div > a {color:#fff;}
.m_header .t_menu {float:right; position:relative;  width:62%; height:60px; z-index:1;}
.m_header .t_menu > .pc_menu {position:absolute; top:30px; right:0; width:100%; text-align:right; z-index:1;}
.m_header .t_menu > .pc_menu > ul {height:20px; width:100%; box-sizing:border-box;}

.m_header .t_menu > .pc_menu > ul > li {display:inline-block; margin-right:35px;}
.m_header .t_menu > .pc_menu > ul > li:last-child {margin-right:3%;}
.m_header .t_menu > .pc_menu > ul > li > a {font-size:18px; color:#fff; box-sizing:border-box;}

/* 190917 CSS 수정 */
.m_header .t_menu > .pc_menu > ul > li > a.on {color:#ffb400;}
/* 190917 CSS 추가 */
.m_header .t_menu > .pc_menu > ul > li > a.on:after,
.m_header .t_menu > .pc_menu > ul > li > a:hover:after {border-bottom:2px solid #ffb400;content:''; width:100%; display:block;color:#ffb400}

.m_header .t_menu > .pc_menu > .log_in {position:fixed; top:8px; right:37px; line-height:19px;}
.m_header .t_menu > .pc_menu > .log_in > ul > li {display:inline-block; line-height:19px;}
.m_header .t_menu > .pc_menu > .log_in > ul > li > a {font-size:12px; color:#fff;}
.m_header .t_menu > .pc_menu > .log_in img {width:25%;}
.m_header .t_menu > .pc_menu {display:block;}
.m_header > div {float:left; color:#fff; font-size:30px;}



.m_header > div > div > span > a {color:#fff;}
.m_header > div span {color:#b9daff;}

#clickme {display:none;}
#clickme a {font-size:13px; line-height:29px; vertical-align:middle; display:inline-block; margin-top:12px; margin-right:10px;}
#clickme a span {color:#fff;}

.mob_menu {display:none; height:100%;}

.main_content02 .content {color:#fff;}
.content {height:100%; clear:both;}
.m_body {width:100%; overflow:hidden; background-color:#252b30; height:auto; box-sizing:border-box; margin-top:95px;}
.sub_page .m_body {margin-top:98px;}
.none_bg {background-color:transparent !important;}
.on_bg {background-color:#404753 !important;}

.w100_p_div .multi_box > div {width:100% !important; float:none; margin-bottom:0.5%;}

.main_content {width:87%; float:left; background-color:#2d343a;  box-sizing:border-box; vertical-align:top; height:auto; display:block; padding:50px; position:relative; overflow:hidden; min-height:900px; color:#fff;}
.main_content .page_title:before {content:''; width:5px; height:20px; background-color:#fff; display:inline-block; vertical-align:middle; margin-right:15px;}
.main_content .page_title {font-size:20px; line-height:20px; vertical-align:middle; margin-bottom:15px; color:#fff;}

.main_content02 {width:100%; background-color:#2d343a;  box-sizing:border-box; vertical-align:top; height:auto; display:block; padding:0 20px 20px 20px; overflow:hidden; position:relative;}
.main_content02 .page_title:before {content:''; width:5px; height:24px; background-color:#fff; display:inline-block; vertical-align:middle; margin-right:15px; float:left;}
.main_content02 .page_title {font-size:24px; vertical-align:middle; margin-bottom:25px; color:#fff; float:left;}
.main_content02 .page_title > div {float:left;}

.area_select {position:absolute; top:30px; right:30px;}
.area_select select {height:28px; padding-right:20px; box-sizing:border-box; border:1px solid #ccc; min-width:100px;}

.footer {width:100%; overflow:hidden; display:inline-block;  box-sizing:border-box; border-top:1px solid #49525b;  background-color:#2d343a;}
.footer > ul {box-sizing:border-box; overflow:hidden;   margin:0 20px; padding:20px 0;}
.footer > ul > li {color:#fff; float:left; width:50%; height:36px; line-height:36px;}
.footer > ul > li:nth-child(1) {text-align:left; }
.footer > ul > li:nth-child(1) img {margin-left:10px;}
.footer > ul > li:nth-child(2) {text-align:right; line-height:18px; font-size:11px;  word-break:keep-all;}


.cont_box {width:100%; overflow:hidden; position:relative;}
.cont_box .box_div_1 {width:100%; clear:both; margin-bottom:1%;}

.main_content .cont_box {width:100%; padding:10px; box-sizing:border-box; background-color:#404753; margin-bottom:0.5%;}
.main_content .cont_box .gf_w100p {width:100%; height:auto; margin-bottom:40px;}
.main_content .cont_box .gf_w100p img {width:100%;}

.white_bg {background-color:#fff; overflow:hidden;}
.cont_box .multi_box {overflow:hidden;}
.cont_box .multi_box > div {float:left; margin-right:0.5%; box-sizing:border-box;}
.cont_box .multi_box > div:last-child {float:right; margin-right:0;}

.cont_box .multi_box > div:first-child:nth-last-child(1),
.cont_box .multi_box > div:first-child:nth-last-child(1) ~ div {width:100%;}

.cont_box .multi_box > div:first-child:nth-last-child(2),
.cont_box .multi_box > div:first-child:nth-last-child(2) ~ div {width:49.7%;}

.cont_box .multi_box > div:first-child:nth-last-child(3),
.cont_box .multi_box > div:first-child:nth-last-child(3) ~ div {width:32.6%;}

.cont_box .multi_box > div:first-child:nth-last-child(4),
.cont_box .multi_box > div:first-child:nth-last-child(4) ~ div {width:24.6%;}


.cont_box .multi_box02 {margin-bottom:1%; overflow:hidden;}
.cont_box .multi_box02 > div {float:left; margin-right:0.5%; box-sizing:border-box;}
.cont_box .multi_box02 > div:last-child {float:right; margin-right:0;}

.cont_box .multi_box02 > div:first-child:nth-last-child(1),
.cont_box .multi_box02 > div:first-child:nth-last-child(1) ~ div {width:100%;}

.cont_box .multi_box02 > div:first-child:nth-last-child(2),
.cont_box .multi_box02 > div:first-child:nth-last-child(2) ~ div {width:49.5%;}

.cont_box .multi_box02 > div:first-child:nth-last-child(3),
.cont_box .multi_box02 > div:first-child:nth-last-child(3) ~ div {width:32.6%;}


.cont_box .multi_box02 > div:first-child:nth-last-child(4),
.cont_box .multi_box02 > div:first-child:nth-last-child(4) ~ div {width:24.2%;}



.cont_box .box_div_2_02 {overflow:hidden; text-align:left;}
.cont_box .box_div_2_02 > div:nth-child(1) {float:left; margin-right:0.5%;}
.cont_box .box_div_2_02 > div:nth-child(2) {float:right;}
.cont_box .box_div_2_02 .wid_s {width:100%; background-color:transparent; padding:0;  margin-bottom:1%; overflow:hidden;}
.cont_box .box_div_2_02 .wid_s > div {background-color:#fff; padding:20px; border-radius:5px; float:left; width:49.4%; box-sizing:border-box; margin-right:0.5%;}
.cont_box .box_div_2_02 .wid_s > div:last-child {margin-right:0; float:right;}
.cont_box .box_div_2_02 .wid_b {width:100%; margin-bottom:1%;}

.duble_g > .box_div_cont {float:left; width:49%; margin-right:2%;}
.duble_g > .box_div_cont:last-child {margin-right:0;}

.paging {width:100%; position:relative; text-align:center; margin-top:30px; margin-bottom:10px; display:block;}
.paging a,
.paging > button {display:inline-block; width:33px; height:33px; vertical-align:middle; line-height:33px; box-sizing:border-box;}
.paging > button:hover {background-color:red;}
.paging > a {border:1px solid #ccc; background-color:#fff;}
.paging > a.active,
.paging > a:hover {border:1px solid #4d8ad7; background-color:#4d8ad7; color:#fff; font-weight:bold;}

.paging > button {text-indent:-10000px;  border:1px solid #cccccc;}
.paging > button.f_pre	{background:url(../img/f_pre.png) center no-repeat #fff;}
.paging > button.pre		{background:url(../img/pre.png) center no-repeat #fff;}
.paging > button.next		{background:url(../img/next.png) center no-repeat #fff;}
.paging > button.f_next	{background:url(../img/f_next.png) center no-repeat #fff;}

.paging02 {display:none;}

.total_top_box {width:100%; text-align:right; box-sizing:border-box;}
.total_top_box > dt {background-color:#4d5561; height:27px; width:99.899%;}
.total_top_box > dt > a {color:#fff; font-size:13px; line-height:27px; margin-right:20px;}
.total_top_box > dt > a.re_icon {background:url(../img/re_icon.png) center right no-repeat; padding-right:17px;}
.total_top_box > dt > a.ar_icon {background:url(../img/ar_icon.png) center right no-repeat; padding-right:10px;}

.total_top_box > dd {background-color:#4472C4; height:70px; width:100%; text-align:left; box-sizing:border-box; padding:15px 20px 0 20px;}
.total_top_box:nth-child(1) > dd {padding:px 5px 0 30px;}
.m_total > div:nth-child(2) .total_top_box > dd {padding:10px 20px 0 20px;}

.total_top_box > dd > ul {vertical-align:middle; width:100%;}
.total_top_box > dd > ul > li {display:inline-block; vertical-align:middle;}
.total_top_box > dd > ul > li:nth-child(1) {width:100%; margin-right:10px; font-size:45px; text-align:center; }
.total_top_box > dd > ul > li > img {vertical-align:middle; width:100%;}
.total_top_box > dd > ul > li:nth-child(2) {color:#ffb400; font-size:25px; width:70%}
.total_top_box:first-child > dd > ul > li:nth-child(2) {width:55%;}
.total_top_box > dd > ul > li:nth-child(2) > p {color:#fefeff; font-size:15px;}
.total_top_box > dd > ul > li:nth-child(3) {float:right; width:15%;  max-width:74px;}

.total_top_box .step {border-radius:50%; width:74px; height:74px; background-color:#ff8400; display:table; text-align:center;}
.total_top_box .step > ul {display:table-cell; vertical-align:middle;}
.total_top_box .step > ul > li:nth-child(1) {font-size:34px;}

.total_top_box > dd > ul > li > p {margin-bottom:10px;}
.total_top_box > dd > ul > li:nth-child(2) > ul > li {width:50%; float:left; font-size:13px; margin-bottom:5px;}
.total_top_box > dd > ul > li:nth-child(2) > ul > li > strong {font-size:13px; display:inline-block;}

.notice_box > dd > ul > li {display:block;}
.notice_box > dd > ul > li {width:100% !important; padding-left:10px; box-sizing:border-box;}

.notice_box > dd > ul > li:nth-child(1) {font-size:17px; color:#fff; margin-bottom:10px; border-bottom:1px solid #ccc; padding-bottom:10px;}
.notice_box > dd > ul > li:nth-child(2) {width:100% !important; font-size:23px;}

.notice_box > dd > ul > li:nth-child(2) span {color:#fff; font-size:17px;}
.notice_box > dd > ul > li:nth-child(1) {width:15%; margin-right:10px;  max-width:100%;}

.wd_top_box > dd > ul > li {display:inline-block;}

.wd_top_box {width:100%; text-align:right; box-sizing:border-box;}
.wd_top_box > dt {background-color:#4d5561; height:27px; width:99.899%;}
.wd_top_box > dt > a {color:#fff; font-size:13px; line-height:27px; margin-right:20px;}
.wd_top_box > dt > a.re_icon {background:url(../img/re_icon.png) center right no-repeat; padding-right:17px;}
.wd_top_box > dt > a.ar_icon {background:url(../img/ar_icon.png) center right no-repeat; padding-right:10px;}

.wd_top_box > dd {background-color:#404753; height:105px; display:table; width:100%; text-align:left; box-sizing:border-box; padding:0 20px;}
.wd_top_box > dd > ul {display:table-cell; vertical-align:middle; width:100%;}
.wd_top_box > dd > ul > li {display:inline-block; vertical-align:middle;}

.wd_top_box > dd > ul > li > img {vertical-align:middle; width:100%;}
.wd_top_box > dd > ul > li:nth-child(2) > p {color:#fefeff; font-size:15px;}

.wd_top_box > dd > ul > li:nth-child(1) {width:16%; max-width:67px; margin-right:3%;}
.wd_top_box > dd > ul > li:nth-child(2) {width:28%;}
.wd_top_box > dd > ul > li:nth-child(3) {width:22%;}
.wd_top_box > dd > ul > li:nth-child(4) {width:28%;}

.wd_top_box > dd > ul > li > p {margin-bottom:10px;}
.wd_top_box > dd > ul > li:nth-child(2) > ul > li {width:50%; float:left; font-size:13px; margin-bottom:5px;}
.wd_top_box > dd > ul > li:nth-child(2) > ul > li > strong {font-size:13px; display:inline-block;}

.wd_top_box > dd > ul > li > dl > dt {color:#f4ad05; margin-bottom:5px;}
.wd_top_box > dd > ul > li > dl > dd {line-height:150%;}
.wd_top_box > dd > ul > li:nth-child(2) > dl > dt {font-size:13px;}


.m_total > div:nth-child(1) {width:100% !important;}
.m_total > div:nth-child(2) {width:45% !important;}
.m_total > div:nth-child(3) {width:29% !important;}

.sns_link {}
.sns_link a {margin-left:10px;}

.m_total {color:#fff;}

.grid_box {width:100%; overflow:hidden; margin-top:0.5%; color:#fff;}
.grid_box > div {float:left; overflow:hidden;}
.grid_box > div:nth-child(1) {width:70.5%; margin-right:0.5%}
.grid_box > div:nth-child(2) {width:29%;}

.grid_box > div:nth-child(1) > div:nth-child(1) {width:35.5%; margin-right:0.5%; margin-bottom:0.5%;}
.grid_box > div:nth-child(1) > div:nth-child(2) {width:32%; margin-bottom:0.5%;}
.grid_box > div:nth-child(1) > div:nth-child(3) {margin-left:0.5%; width:31.5%; margin-bottom:0.5%;}
.grid_box > div:nth-child(1) > div:nth-child(4) {width:35.5%; margin-right:0.5%; margin-bottom:0.5%;}
.grid_box > div:nth-child(1) > div:nth-child(5) {width:64%;}
.grid_box > div:nth-child(1) > div:nth-child(6) {margin-left:0.5%; width:31.5%;}
.grid_box > div:nth-child(1) > div:nth-child(7) {width:100%;}

.grid_box > div:nth-child(1) > div {width:20%; float:left; box-sizing:border-box;}
.grid_box > div > div {background-color:#404753; height:395px;}
.grid_box > div:nth-child(1) > div:nth-child(7) {height:auto;}

.grid_title {width:100%; background-color:#4e7bbe; display:table; height:30px; box-sizing:border-box; padding:0 20px;}
.grid_title > ul {display:table-cell; vertical-align:middle;}
.grid_title > ul > li {float:left; vertical-align:bottom; line-height:30px;}

/* 190917 CSS 수정 */
.grid_title > ul > li:nth-child(1) {color:#fff; font-size:17px;}
.grid_title > ul > li:nth-child(2) {text-align:right; color:#fff; font-size:15px; vertical-align:middle;}

/* 190917 CSS 추가 */
.grid_title > ul > li:nth-child(1) a:hover {color: red;}
.grid_title > ul > li:nth-child(2) a:hover {color: red;}

.middleTitle {font-size: 17px;}
.middleLink {font-size: 15px;}
.middleLink a:hover {color: red;}

.dashTopTxt {font-size:15px; padding-top: 1px;}
.dashTopTxt:hover {color: red !important; }

.dashTopTxt.special {font-size:23px; padding-top: inherit;}

a.top.speical:hover {color: red !important; }

.m_header .t_menu > .pc_menu > ul > li > a:hover {color: #ffb400;}

.grid_title > ul > li:first-child:nth-last-child(1),
.grid_title > ul > li:first-child:nth-last-child(1) ~ li {width:100%;}

.grid_title > ul > li:first-child:nth-last-child(2),
.grid_title > ul > li:first-child:nth-last-child(2) ~ li {width:50%;}

.grid_title > ul > li.twoLi.jisu:nth-child(1) {width:70%;}
.grid_title > ul > li.twoLi.jisu:nth-child(2) {width:30%;}


.grid_title button {background:transparent; border:0;}

.grid_box > div:nth-child(1) .gf_box {width:100%; height:100%; text-align:center; box-sizing:border-box; padding:3% 0;  max-height:300px; overflow:hidden;}
.grid_box > div:nth-child(1) .gf_box > div{width:95%; height:188px; margin:0 auto;}
.grid_box > div:nth-child(1) .gf_box > div > img {width:100%; height:100%;}
.grid_box > div .gf_box {position:relative;}
.grid_box > div .gf_box span.map_plus {position:absolute; top:10px; right:10px;}

.grid_box > div .gf_box2 {position:relative;}
.grid_box > div .gf_box2 span.map_plus {position:absolute; top:10px; right:10px;}

.grid_box > div:nth-child(1) > div:nth-child(7) .gf_box {padding:0.5%; height:100%; box-sizing:border-box;}
.grid_box > div:nth-child(1) > div:nth-child(7) .gf_box > div{width:100%; height:100%; margin:0 auto;}
.grid_box > div:nth-child(1) > div:nth-child(7) .gf_box > div > img {width:100%; height:100%;  max-height:265px;}

.grid_box > div:nth-child(2) > div {height:798px;}
.grid_box > div:nth-child(2) > div:nth-child(1) .gf_box {padding:1%; height:768px !important; box-sizing:border-box;}

/* 190904 ���� */
.grid_box > div:nth-child(2) > div:nth-child(1) .gf_box2 {padding:1%; height:770px !important; box-sizing:border-box;}

.grid_box > div:nth-child(2) > div:nth-child(1) .gf_box img {width:100%; height:100%;}


.right_grid_box .gf_box {width:100%; height:100%; text-align:center; box-sizing:border-box;   max-height:300px !important; overflow:hidden; background-color:#404753;}
.right_grid_box .gf_box > div {width:95%; margin:0 auto; height:auto;}
.right_grid_box .gf_box > div > img {width:100% !important; height:100% !important;}
.right_grid_box .gf_box {position:relative; height:209px !important;  max-height:209px !important; padding:3% 0; margin-bottom:1%; overflow:hidden;}

.grid_box > div:nth-child(1) > div:nth-child(7) .gf_box {padding:0.5%; height:100%; box-sizing:border-box;}
.grid_box > div:nth-child(1) > div:nth-child(7) .gf_box > div{width:100%; height:100%; margin:0 auto;}
.grid_box > div:nth-child(1) > div:nth-child(7) .gf_box > div > img {width:100%; height:100%;  max-height:265px;}


.main_content .grid_box > div:nth-child(2) > div {height:795px;}
.main_content .grid_box > div:nth-child(2) > div:nth-child(1) .gf_box {height:640px !important;}
.main_content .end_info > div > ul > li {font-size:22px;}

/* 20191022 추가 - 시작 */
.grid_box2 {width:100%; overflow:hidden; margin-top:0.5%; color:#fff;}
.grid_box2 > div {float:left; overflow:hidden;}
.grid_box2 > div:nth-child(1) {width:70.5%; margin-right:0.5%}
.grid_box2 > div:nth-child(2) {width:29%;}

.grid_box2 > div:nth-child(1) > div:nth-child(1) {width:35.5%; margin-right:0.5%; margin-bottom:0.5%;}
.grid_box2 > div:nth-child(1) > div:nth-child(2) {width:32%; margin-bottom:0.5%;}
.grid_box2 > div:nth-child(1) > div:nth-child(3) {margin-left:0.5%; width:31.5%; margin-bottom:0.5%;}
/* .grid_box > div:nth-child(1) > div:nth-child(4) {width:35.5%; margin-right:0.5%; margin-bottom:0.5%;}
.grid_box > div:nth-child(1) > div:nth-child(5) {width:32%;}
.grid_box > div:nth-child(1) > div:nth-child(6) {margin-left:0.5%; width:31.5%;} */
.grid_box2 > div:nth-child(1) > div:nth-child(4) {width:100%;}

.grid_box2 > div:nth-child(1) > div {width:20%; float:left; box-sizing:border-box;}
.grid_box2 > div > div {background-color:#404753; height:357px;}
.grid_box2 > div:nth-child(1) > div:nth-child(4) {height:auto;}

.grid_box2 > div:nth-child(2) > div {height:798px;}
.grid_box2 > div:nth-child(2) > div:nth-child(1) .gf_box {padding:1%; height:658px !important; box-sizing:border-box;}
.grid_box2 > div:nth-child(2) > div:nth-child(1) .gf_box2 {padding:1%; height:770px !important; box-sizing:border-box;}

.grid_box3 {width:100%; overflow:hidden; margin-top:0.5%; color:#fff;}
.grid_box3 > div {float:left; overflow:hidden;}
.grid_box3 > div:nth-child(1) {width:100%; margin-right:0.5%}
.grid_box3 > div:nth-child(2) {width:29%;}

@media only screen and (min-width:2150px){
	.grid_box3 {width:100%; overflow:hidden; margin-top:0.5%; color:#fff;}
	.grid_box3 > div {float:left; overflow:hidden;}
	.grid_box3 > div:nth-child(1) {width:100%; margin-right:0.5%}
	.grid_box3 > div:nth-child(2) {width:29%;}
	.grid_box3 > div:nth-child(1) > div:nth-child(1) {width:100%; margin-right:0.5%; margin-bottom:0.5%; height:510px;}
	.grid_box3 > div:nth-child(1) > div:nth-child(2) {width:100%;}

	.grid_box3 > div:nth-child(1) > div {width:20%; float:left; box-sizing:border-box;}
	.grid_box3 > div > div {background-color:#404753; height:357px;}
	.grid_box3 > div:nth-child(1) > div:nth-child(2) {height:auto;}

	.grid_box3 > div:nth-child(2) > div {height:798px;}
	.grid_box3 > div:nth-child(2) > div:nth-child(1) .gf_box {padding:1%; height:658px !important; box-sizing:border-box;}
}
@media only screen and (max-width:767px){
	.grid_box3 {width:100%; overflow:hidden; margin-top:0.5%; color:#fff;}
	.grid_box3 > div {float:left; overflow:hidden;}
	.grid_box3 > div:nth-child(1) {width:100%; margin-right:0.5%}
	.grid_box3 > div:nth-child(2) {width:29%;}
   	.grid_box3 > div:nth-child(1) > div:nth-child(1) {width:100%; margin-right:0.5%; margin-bottom:0.5%;}
   	.grid_box3 > div:nth-child(1) > div:nth-child(2) {width:100%;}

	.grid_box3 > div:nth-child(1) > div {width:20%; float:left; box-sizing:border-box;}
	.grid_box3 > div > div {background-color:#404753; height:357px;}
	.grid_box3 > div:nth-child(1) > div:nth-child(2) {height:auto;}

	.grid_box3 > div:nth-child(2) > div {height:798px;}
	.grid_box3 > div:nth-child(2) > div:nth-child(1) .gf_box {padding:1%; height:658px !important; box-sizing:border-box;}
}
@media only screen and (max-width:550px){
  	.grid_box3 {width:100%; overflow:hidden; margin-top:0.5%; color:#fff;}
	.grid_box3 > div {float:left; overflow:hidden;}
	.grid_box3 > div:nth-child(1) {width:100%; margin-right:0.5%}
	.grid_box3 > div:nth-child(2) {width:29%;}
   	.grid_box3 > div:nth-child(1) > div:nth-child(1) {width:100%; margin-right:0.5%; margin-bottom:0.5%;}
   	.grid_box3 > div:nth-child(1) > div:nth-child(2) {width:100%;}

	.grid_box3 > div:nth-child(1) > div {width:20%; float:left; box-sizing:border-box;}
	.grid_box3 > div > div {background-color:#404753; height:357px;}
	.grid_box3 > div:nth-child(1) > div:nth-child(2) {height:auto;}

	.grid_box3 > div:nth-child(2) > div {height:798px;}
	.grid_box3 > div:nth-child(2) > div:nth-child(1) .gf_box {padding:1%; height:658px !important; box-sizing:border-box;}
}
@media only screen and (max-width:530px){
    .grid_box3 {width:100%; overflow:hidden; margin-top:0.5%; color:#fff;}
	.grid_box3 > div {float:left; overflow:hidden;}
	.grid_box3 > div:nth-child(1) {width:100%; margin-right:0.5%}
	.grid_box3 > div:nth-child(2) {width:29%;}
    .grid_box3 > div:nth-child(1) > div:nth-child(1) {width:100%; margin-right:0.5%; margin-bottom:0.5%;}
    .grid_box3 > div:nth-child(1) > div:nth-child(2) {width:100%;}
	
	.grid_box3 > div:nth-child(1) > div {width:20%; float:left; box-sizing:border-box;}
	.grid_box3 > div > div {background-color:#404753; height:357px;}
	.grid_box3 > div:nth-child(1) > div:nth-child(2) {height:auto;}
	
	.grid_box3 > div:nth-child(2) > div {height:798px;}
	.grid_box3 > div:nth-child(2) > div:nth-child(1) .gf_box {padding:1%; height:658px !important; box-sizing:border-box;} 
}

/* 20191022 추가 - 끝 */

.m_title {width:100%; border-bottom:1px solid #969a9d; overflow:hidden; height:60px; position:relative; margin-bottom:15px;}
.m_title .title {font-size:30px;}

.m_title .navi {position:absolute; right:0; top:20px;}
.m_title .navi li {float:left; font-size:12px; line-height:16px; padding-top:2px;}
.m_title .navi li:first-child {background-size:11px;}
.m_title .navi li:after {content:''; margin:0 10px; background:url(../img/navi_arrow.png) center no-repeat; width:5px; display:inline-block; height:14px; vertical-align:middle;}
.m_title .navi li:last-child:after {display:none;}

.reload {clear:both; margin-bottom:10px;}
.reload a {font-size:24px; color:#989a9c;/*  background:url(../img/reload_icon.png */) right center no-repeat; padding-right:20px;}

.share_box {position:absolute; top:40px; right:1%; background-color:rgba(0,0,0,0.5); z-index:999; width:640px; box-sizing:border-box; padding:0.5%;}
.share_box .share_cont { color:#fff; margin:0 auto; background-color:#404753;}
.share_box .share_cont input[type=radio] {display:none;}
.share_box .share_cont .share_title {background-color:#4d5561; box-sizing:border-box; padding:15px 10px; width:100%; font-size:16px; position:relative;}
.share_box .share_cont .share_title > button {position:absolute; top:15px; right:10px; background:url(../img/btn_icon_cancel.png) center no-repeat; text-indent:-10000px; border:0; width:12px; height:12px;}
#pop_ck:checked + .step_pop {display:block;}
#pop_ck02:checked + .step_pop02 {display:block;}

.copy_box {display:block;}
.write_box {display:none;}

#tab_01:checked + .copy_box {display:block;}
#tab_02:checked + .write_box {display:block;}

#tab_01:checked + .copy_box_t {background-color:#red;}
#tab_02:checked + .write_box_t {background-color:#blue;}



@media only screen and (max-width:1800px){
	.m_header > div {font-size:24px;}
	.m_header .t_menu > .pc_menu > ul > li {display:inline-block; margin-right:35px;}
	.m_header .t_menu > .pc_menu > ul > li > a {font-size:15px;}

	.total_top_box > dd > ul > li:nth-child(2) {font-size:24px;}
	.total_top_box > dd > ul > li:nth-child(2) > p {font-size:16px;}
	.total_top_box .step > ul > li:nth-child(1) {font-size:22px;}
	.total_top_box > dd > ul > li:nth-child(2) > ul > li {font-size:13px;}
	.total_top_box > dd > ul > li:nth-child(2) > ul > li > strong {font-size:13px;}
}

@media only screen and (max-width:1700px){
	.m_header > div {font-size:24px;}
	.m_header .t_menu > .pc_menu > ul > li {display:inline-block; margin-right:35px;}
	.m_header .t_menu > .pc_menu > ul > li > a {font-size:15px;}

	.total_top_box > dd > ul > li:nth-child(2) {font-size:20px;}
	.total_top_box > dd > ul > li:nth-child(2) > p {font-size:14px;}
	.total_top_box .step > ul > li:nth-child(1) {font-size:20px;}
	.total_top_box > dd > ul > li:nth-child(2) > ul > li {font-size:13px;}
	.total_top_box > dd > ul > li:nth-child(2) > ul > li > strong {font-size:13px;}
}

@media only screen and (max-width:1700px){
	.grid_box > div:nth-child(1) > div:nth-child(7) {margin-bottom:0.5%;}
	.end_info > div > ul > li {font-size:20px;}
}

@media only screen and (max-width:1500px){
	.wd_top_box > dd > ul > li:nth-child(2) > dl > dt {font-size:15px;}
	.wd_top_box > dd > ul > li:nth-child(3),
	.wd_top_box > dd > ul > li > dl > dd {font-size:12px;}
}

@media only screen and (max-width:1300px){
	
	.wd_top_box > dd > ul > li:nth-child(2) {width:25%;}
	.wd_top_box > dd > ul > li:nth-child(3) {width:25%;}
	.wd_top_box > dd > ul > li:nth-child(4) {width:25%;}
}

@media only screen and (max-width:1240px){
	.m_header > div {font-size:22px;}
	.m_header .t_menu > .pc_menu > ul > li {display:inline-block; margin-right:20px;}
	.m_header .t_menu > .pc_menu > ul > li > a {font-size:14px;}
}

@media only screen and (min-width:1200px){
	.w1460 {width:1460px !important;}
	.w1460 > .box_table_t01 > thead > tr > th,
	.w1460 > .box_table_t01 > tbody > tr > td {width:130px !important;}
}

@media only screen and (max-width:1200px){

	.w1024 {width:1024px !important;}
	.w1100 {width:1100px !important;}
	.w1200 {width:1200px !important;}
	.w1300 {width:1300px !important;}
	.w1400 {width:1400px !important;}
}

@media only screen and (max-width:1024px){
	.main_content,
	.main_content02 {width:100%; float:none;}

	.m_header .t_menu {display:none;}
	.m_header .t_menu > .pc_menu {display:none;}
	.m_header .t_menu {height:100%;}

	.log_info_box {background-color:#585757; color:#fff; border-bottom:1px solid #949090; text-align:left; line-height:120%; padding:10px 0 10px 0;}	
	.log_info_box a {display:inline-block; font-size:14px; color:#fff;  width:49%; text-align:center;}	
	.log_info_box a:last-child {background:url(../img/icon_logout02.png) 105px center  no-repeat; box-sizing:border-box;}
	.log_info_box a:last-child a {font-weight:700;}



	.navi {display:none;}

	.cont_box .multi_box > div,
	.cont_box .multi_box > div,
	.cont_box .multi_box > div 	{width:100% !important; float:left; margin-bottom:1%;}

	.cont_box .multi_box > div:last-child,
	.cont_box .multi_box > div:last-child,
	.cont_box .multi_box > div:last-child {float:left; margin-bottom:2}

	.main_content,
	.main_content02 {padding:10px 10px 30px 10px;}

	.m_body {height:auto;}

	.footer  p {margin-left:15px;}

	.cont_box .box_div_2_02 div:first-child {margin-bottom:1%;}
	.cont_box .box_div_2_02 div {float:none;}
	.cont_box .box_div_2_02 .wid_s {width:100%;}
	.cont_box .box_div_2_02 .wid_b {width:100%;}

	.duble_g > .box_div_cont {float:none; width:100%; margin-right:0;}

	.main_content {min-height:0;}

	.t_paging {margin-top:-20px; padding-bottom:50px;}
	.area_select {right:10px; top:30px; width:100%;}

	.m_header .t_logo > div {line-height:48px; display:none;}
	.m_header > div > div > span > a {padding:0 0 0 10px; width:20px;}
	.m_header > div > div > span:last-child > a:after {content:'';}
	.m_header .t_logo a {margin-right:10px;}


	.m_header {height:48px;}
	.m_header .t_logo {height:48px; line-height:48px; text-align:left;  padding-top:0; width:382px;}

	.mob_menu {display:block; text-align:right; position:fixed; top:48px; right:0; z-index:9998; height:100%; overflow:auto;}

	.m_body {margin-top:48px;}
	.sub_page .m_body  {margin-top:50px;}
	.sub_page .mob_menu {top:50px;}
	.m_title {height:40px; line-height:40px;}
	.m_title .title {font-size:20px; }
	.reload a {font-size:16px;}

	#clickme {float:right; display:block;}
	#clickme button {margin-top:10px; margin-right:6px; float:right; border:0; background:transparent;}
	#clickme button > img {width:34px; height:auto;}

	.m_header > div > div > span:nth-child(2) {margin-top:10px;}

	.paging {display:none;}

	.paging02 {width:100%; position:relative; text-align:center; margin-top:30px; margin-bottom:10px; display:block;}
	.paging02 a,
	.paging02 > button {display:inline-block; width:33px; height:33px; vertical-align:middle; line-height:33px; box-sizing:border-box;}
	.paging02 > button:hover {background-color:red;}
	.paging02 > a {border:1px solid #ccc; background-color: #fff;}
	.paging02 > a.active,
	.paging02 > a:hover {border:1px solid #4d8ad7; background-color:#4d8ad7; color:#fff; font-weight:bold;}

	.paging02 > button {text-indent:-10000px;  border:1px solid #cccccc;}
	.paging02 > button.f_pre	{background:url(../img/f_pre.png) center no-repeat #fff;}
	.paging02 > button.pre		{background:url(../img/pre.png) center no-repeat #fff;}
	.paging02 > button.next		{background:url(../img/next.png) center no-repeat #fff;}
	.paging02 > button.f_next	{background:url(../img/f_next.png) center no-repeat #fff;}

	.t_paging + .area_select select {min-width:24%;}
	.t_paging + .area_select select:first-child {margin-left:20px;}

	.cont_box .box_div_2_02 .wid_s {margin-bottom:0;}

	.cont_box .multi_box02 > div {float:left; margin-bottom:1%;}
	.cont_box .multi_box02 > div:nth-child(2) {float:right; margin-right:0;}
	.cont_box .multi_box02 > div:first-child:nth-last-child(4),
	.cont_box .multi_box02 > div:first-child:nth-last-child(4) ~ div {width:49.4%;}

	.grid_box > div {float:none;}
	.grid_box > div:nth-child(1) {width:100%; margin-right:0; margin-bottom:0.5%;}
	.grid_box > div:nth-child(2) {width:100%;}

	.grid_box > div:nth-child(1) > div:nth-child(7) {width:100%;}
	.grid_box > div:nth-child(1) > div {float:left; box-sizing:border-box;}
	.grid_box > div:nth-child(1) > div.div_half {width:49.5%;}

	.grid_box > div:nth-child(2) > div {height:auto;}
	
	.grid_box2 > div {float:none;}
	.grid_box2 > div:nth-child(1) {width:100%; margin-right:0; margin-bottom:0.5%;}
	.grid_box2 > div:nth-child(2) {width:100%;}

	.grid_box2 > div:nth-child(1) > div:nth-child(7) {width:100%;}
	.grid_box2 > div:nth-child(1) > div {float:left; box-sizing:border-box;}
	.grid_box2 > div:nth-child(1) > div.div_half {width:49.5%;}

	.grid_box2 > div:nth-child(2) > div {height:auto;}
	
	.grid_box3 > div {float:none;}
	.grid_box3 > div:nth-child(1) {width:100%; margin-right:0; margin-bottom:0.5%;}
	.grid_box3 > div:nth-child(2) {width:100%;}

	.grid_box3 > div:nth-child(1) > div:nth-child(7) {width:100%;}
	.grid_box3 > div:nth-child(1) > div {float:left; box-sizing:border-box;}
	.grid_box3 > div:nth-child(1) > div.div_half {width:49.5%;}

	.grid_box3 > div:nth-child(2) > div {height:auto;}

	.footer > ul > li:nth-child(1) {display:none;}
	.footer > ul > li:nth-child(2) {width:100%; text-align:center; height:auto;}
	
	.total_top_box > dd {height:50px; overflow:hidden;}
	
	.dashboardDpn {display:none;)
}

@media only screen and (max-width:900px){
	.grid_box > div:nth-child(1) > div:nth-child(1),
	.grid_box > div:nth-child(1) > div:nth-child(2),
	.grid_box > div:nth-child(1) > div:nth-child(3),
	.grid_box > div:nth-child(1) > div:nth-child(4),
	.grid_box > div:nth-child(1) > div:nth-child(5),
	.grid_box > div:nth-child(1) > div:nth-child(6) {width:100%; margin-left:0; margin-right:0; margin-bottom:0.5%;}

	.grid_box > div > div {height:auto; max-width:auto !important;}
	.grid_box2 > div > div {height:auto; max-width:auto !important;}
	.grid_box3 > div > div {height:auto; max-width:auto !important;}
	.gf_box {width:100%; max-height:auto !important; height:auto; padding:1%;}
	.gf_box img {height:100%; width:100%;}
	
	.grid_box2 > div:nth-child(1) > div:nth-child(1),
	.grid_box2 > div:nth-child(1) > div:nth-child(2),
	.grid_box2 > div:nth-child(1) > div:nth-child(3),
	.grid_box2 > div:nth-child(1) > div:nth-child(4),
	.grid_box2 > div:nth-child(1) > div:nth-child(5),
	.grid_box2 > div:nth-child(1) > div:nth-child(6) {width:100%; margin-left:0; margin-right:0; margin-bottom:0.5%;}
	
	.grid_box3 > div:nth-child(1) > div:nth-child(1),
	.grid_box3 > div:nth-child(1) > div:nth-child(2),
	.grid_box3 > div:nth-child(1) > div:nth-child(3),
	.grid_box3 > div:nth-child(1) > div:nth-child(4),
	.grid_box3 > div:nth-child(1) > div:nth-child(5),
	.grid_box3 > div:nth-child(1) > div:nth-child(6) {width:100%; margin-left:0; margin-right:0; margin-bottom:0.5%;}
}

@media only screen and (max-width:767px){
	.m_header > div > div > span:first-child {display:none;}
	.log_info_box p {display:block;}

	.t_paging + .area_select select {min-width:23% !important; float:left;}

	.cont_box .multi_box02 > div {float:left; margin-bottom:1%; width:100% !important;}
	.cont_box .box_div_2_02 .wid_s > div {width:100%; margin-bottom:1%;}

	.wd_top_box > dd > ul > li:nth-child(1) {width:17%; max-width:67px; margin-right:3%;}
	.wd_top_box > dd > ul > li:nth-child(2) {width:25% !important;}
	.wd_top_box > dd > ul > li:nth-child(3) {width:25%; !important;}
	.wd_top_box > dd > ul > li:nth-child(4) {width:25%; display:inline-block;}	
	
	.share_box {width:98%;}
	
	.m_total > div:nth-child(2) .total_top_box > dd {height:130px;}
}

@media only screen and (max-width:550px){
	.m_header .t_logo {font-size:16px; text-align:left;}
	.m_header .t_logo > img {width:10%;}
}

@media only screen and (max-width:530px){	 
	 .m_header > div:first-child {text-align:left; padding:0 0 0 10px !important; width:255px !important;}
	 .m_header .t_logo {font-size:14px;}
	 .total_top_box .step {width:60px; height:60px;}
	 .total_top_box > dd {overflow:hidden;}	 
	 .total_top_box > dd > ul > li:nth-child(2) > ul > li {width:100%;}
	 .end_info > div {float:none; width:100%;}
	 .end_info > div:first-child {margin-bottom:0.5%;}
	 .total_top_box > dd > ul > li:nth-child(1) {width:100%; margin-right:10px;font-size: 20px; text-align:center;}
	 .total_top_box:nth-child(1) > dd {padding: 13px 0 30px;}
	 .total_top_box > dd {padding:15px 10px 10% 10px; box-sizing:inherit;}

	    .wd_top_box > dd > ul > li:nth-child(2) {width:25%}
		.wd_top_box > dd > ul > li:nth-child(3) {width:25%}
		.wd_top_box > dd > ul > li:nth-child(4) {width:25%}
}

@media only screen and (max-width:530px){
	#clickme a span {display:none;}	
}

@media only screen and (max-width:321px){
	.m_header .t_logo {font-size:13px; }
	.m_header .t_logo img {width:20px; height:20px;}
	.m_header > div:first-child {width:235px !important;}		
}


