.web {display:block;}
.mob {display:none;}

.modi-popup.web{display:none;}

.mob img {max-width:100% !important; height:auto !important;}

.mob iframe {max-width:100% !important; height:auto;}

.modi-popup.mob {width:90%; left:65%; display:none;}
.modi-popup .list-table-box table{min-width:0;}

.side_menu { position:fixed; left:-80.5625%; top:0; width:80.5625%; z-index:999; height:100%; background:#358ac9; overflow:auto;}
.side_menu > ul { float:left; width:100%;}
.side_menu > ul > li { float:left; width:100%;}
.side_menu > ul > li > a { float:left; width:100%; padding:15px 0; background:#0e4da0; text-align:left; border-bottom:1px solid #006781; background:url(../img/m_down.png) no-repeat 90% 20px;}
.side_menu > ul > li > a  span{margin-left:20px;color:#fff}
.side_menu > ul > li > a  span a:link{text-decoration:none;color:#fff;}
.side_menu > ul > li > a  span a:hover, a:active{text-decoration:underline;color:#fff}
.side_menu > ul > li > ul { display:none; float:left; width:100%;}
.side_menu > ul > li > ul > li { float:left; width:100%;}
.side_menu > ul > li > ul > li > a { float:left; width:100%; font-size:13px; font-weight:bold; color:#888; padding:14px 0; text-decoration:none; text-align:left; background:#fff; border-bottom:1px solid #d9d9d9;}
.side_menu > ul > li > ul > li > a.on {font-weight:bold;color:#000}
.side_menu > ul > li > ul > li > a > span { margin-left:20px; font-size:13px; font-weight:bold;}
.side_menu > ul > li > ul > li > ul { display:none; float:left; width:100%; border-bottom:1px solid #03596F;}
.side_menu > ul > li > ul > li > ul > li { float:left; width:100%;}
.side_menu > ul > li > ul > li > ul > li > a { float:left; width:100%; font-size:11px; font-weight:bold; color:#888888; padding:14px 0; text-decoration:none; text-align:left; background:#ffffff; border-bottom:1px solid #d9d9d9;}
.side_menu > ul > li > ul > li > ul > li > a span { margin-left:25px; font-size:11px; font-weight:bold; color:#888888;}

.side_menu > .side_btn {bottom:15px; position:absolute; right:0;}
.side_menu > .side_btn > a {color:#fff; padding:15px 15px;}

header .btn_menu_list { position:absolute; left:10px; top:50%; padding:0; text-align:left; margin-top:-10px;}
header .btn_menu_list img.menu_list_btn { float:left; width:30px; height:20px;}

.black {display:none;width:100%;height:100%;position:fixed;left:0;top:0;background:#000;opacity:0.8;-ms-filter:alpha(opacity=80);filter:alpha(opacity=80);z-index:900;}
.m_x_btn {position:absolute; top:10px; right:-10%; display:none;  padding:5px;}

@media only screen and (min-width:1280px){
	.modi-popup.mob{display:none !important;}
}

@media only screen and (max-width:1280px){
	.web {display:none;}
	.mob {display:block;}

	.modi-popup.web{display:none !important;}

	.pop-content {width:100% !important;}
	.pop-content .list-table-box table {min-width:0;}

	header h1 {left:50% !important; margin-left:-84px;}

	.content-box {width:100%;}

	.contents .main-content {float:none; width:100%; padding:0 10px;}
	.main-content {margin-bottom:30px;}

	header {width:100%; min-width:100%;}
	header:after {width:100%; min-width:100%;}

	footer {width:100%; min-width:100%;}
	header nav {padding-left:0;}

	header .top-area {z-index:900;}

	html, body {height:100%;}

	header {height:60px;}
	header:before {display:none;}
	.page-lv01 {text-align:center;}

	.sh-room.icon-room {background-position:center !important; width:50px; background:url("../img/icon-room-m.png") no-repeat; background-size:30px;}
	.sh-room.icon-room label {display:block; padding-left:0; font-size:0;}

	.title-area {margin-top:-20px; padding-bottom:10px;}

	.sub-title {padding-left:35px; padding:10px 0 10px 35px; margin-bottom:0;}
	.sub-title:before {content:''; display:block; top:50%; left:10px; border:4px solid #0089cf; border-radius:50%; width:8px; height:8px; margin-top:-8px;}

	.m-search-btn {width:100%; background-color:#f1f1f1; padding:15px 0; text-align:center;}
	.m-search-btn label {background-color:#fff; border-radius:5px; width:97%; display:inline-block; font-weight:bold; cursor:pointer; font-size:16px; position:relative; padding:10px 0; border:1px solid #dddddd;}
	.m-search-btn label:before {content:''; display:block; position:absolute; top:50%; left:50%; background:url(../img/icon-sh-btn.png) no-repeat; width:16px; height:16px; margin-top:-8px; margin-left:-35px; }

	.m-search {background-color:#f1f1f1; padding:15px 20px; }
	.m-search .m-search-tit {position:relative; font-size:16px; margin-bottom:15px;}
	.m-search .m-search-tit label {position:absolute; top:50%; right:0; margin-top:-7px;}

	.m-search-btn {display:block;}
	.m-search {display:none;}

	.m-search .half-sh {width:100%;}
	.m-search .half-sh ul {width:100%; overflow:hidden; margin-bottom:-10px;}
	.m-search .half-sh ul li {width:49%; float:left; margin-bottom:10px; text-align:left; min-height:30px;}
	.m-search .half-sh ul li:nth-child(2n) {float:right;}
	.m-search .half-sh ul li select,
	.m-search .half-sh ul li input[type="text"] {height:30px; width:100%; float:left;}
	.m-search .half-sh ul li select:first-child,
	.m-search .half-sh ul li input:first-child {margin-right:3%;}
	.m-search .half-sh ul li select:last-child,
	.m-search .half-sh ul li input:last-child {margin-right:0;}

	.m-search .w100-sh {width:100%;}
	.m-search .w100-sh ul {width:100%; overflow:hidden; margin-bottom:-10px;}
	.m-search .w100-sh ul li {width:100%; margin-bottom:10px; text-align:left; min-height:30px;}
	.m-search .w100-sh ul li:nth-child(2n) {float:right;}
	.m-search .w100-sh ul li select,
	.m-search .w100-sh ul li input[type="text"] {height:30px; width:100%; float:left;}
	.m-search .w100-sh ul li select:first-child,
	.m-search .w100-sh ul li input:first-child {margin-right:3%;}
	.m-search .w100-sh ul li select:last-child,
	.m-search .w100-sh ul li input:last-child {margin-right:0;}


	.m-search .m-search-btn {width:100%; padding-bottom:0;}
	.m-search .m-search-btn button {background-color:#fff; border-radius:5px; width:100%; display:inline-block; font-weight:bold; cursor:pointer; font-size:16px; position:relative; padding:10px 0; border:1px solid #dddddd;}
	.m-search .m-search-btn button:before {content:''; display:block; position:absolute; top:50%; left:50%; background:url(../img/icon-sh-btn.png) no-repeat; width:16px; height:16px; margin-top:-8px; margin-left:-35px; }

	#sh-op-cl01:checked ~ .m-search-btn {display:none;}
	#sh-op-cl01:checked ~ .m-search {display:block;}

	.mob-list {width:100%; margin-bottom:20px; border-top:1px solid #ddd;}
	.mob-list dl {width:100%; overflow:hidden; min-height:30px; border-bottom:1px solid #ddd; padding:10px 0;}
	.mob-list dl dt {width:100px; float:left; text-align:center; word-break:keep-all; position:relative; vertical-align:middle; font-weight:bold;}
	.mob-list dl dt:after {content:':'; display:block; position:absolute; top:0; right:0;}
	.mob-list dl dd {float:left; vertical-align:middle; padding-left:20px;}

	.mob-list ul {width:100%;}
	.mob-list ul li {padding:20px 0; border-bottom:1px solid #ddd;}
	.mob-list ul li > p {margin-bottom:10px;}
	.mob-list ul li > p:last-child {margin-bottom:0;}
	.mob-list ul li .num {}
	.mob-list ul li .title {font-weight:bold; font-size:16px}
	.mob-list ul li span.icon-notice {width:20px;}

	.mob-list ul li .option span {position:relative; padding-left:20px; color:#999; font-size:14px;}
	.mob-list ul li .option span:first-child {padding-left:0;}
	.mob-list ul li .option span:first-child:before {display:none;}
	.mob-list ul li .option span:before {content:'|'; display:block; position:absolute; top:0; left:6px; }

	.mob-write ul {width:100%; border-top:1px solid #000;}
	.mob-write ul li {padding:10px; border-bottom:1px solid #ddd;}
	.mob-write ul li > p {margin-bottom:10px;}
	.mob-write ul li > p:last-child {margin-bottom:0;}
	.mob-write ul li .num {}
	.mob-write ul li span.icon-notice {width:20px;}
	.mob-write ul li .title span {font-weight:bold; font-size:16px}

	.mob-write ul li .option span {position:relative; padding-left:20px; color:#999; font-size:14px;}
	.mob-write ul li .option span:first-child {padding-left:0;}
	.mob-write ul li .option span:first-child:before {display:none;}
	.mob-write ul li .option span:before {content:'|'; display:block; position:absolute; top:0; left:6px; }

	.mob-write ul li .title,
	.mob-write ul li .option {border-bottom:1px solid #ddd; padding-bottom:10px;}


	.list-table-box {overflow:auto; width:100%; position:relative;}
	.list-table-box table {min-width:800px;}

	.mob-write {border-bottom:1px solid #000; border-top:1px solid #000;}
	.mob-write dl {position:relative; border-bottom:1px solid #ddd; padding:10px 0;}
	.mob-write dl dt {position:absolute; top:8px; left:0; width:90px; text-align:center; font-weight:bold;}
	.mob-write dl dt:after {content:':'; display:inlein-block; display:block; float:right;}
	.mob-write dl dd {width:100%; padding-left:110px;}
	.mob-write .icon-download-file {background-position:left center; text-indent:0; padding-left:20px;}
	.mob-write dl dd ul {width:100%; border-top:0;}
	.mob-write dl dd ul li {padding:0; border:0;}
	.mob-write dl dd input,
	.mob-write dl dd select {height:25px;}

	.mob-write.w-dt130 dl dt {width:130px;}
	.mob-write.w-dt130 dl dd {padding-left:140px;}
	.mob-write .mob-list-type {border-bottom:1px solid #000;}

	/*20200225 ����*/
	.ico-classroom {background:url("../img/class-room.png") left center no-repeat; width:13px; height:13px; background-size:13px; padding-left:0; position:relative; top:0px;}
	.class-room {font-size:13px; position:relative; top:-2px; padding-right:20px; color:#3a3b3b;}
	.class-room:after {content:'>'; display:block; position:absolute; top:0; right:0;}
	/*20200225 ����*/

	.mob-small {min-width:400px !important;}

}

@media only screen and (min-width:1280px){
	.black {display:none !important;}
}

@media only screen and (max-width:1280px){
	.m-search .w100-sh ul li:nth-child(2n) {float:none;}
}


@media only screen and (max-width:1200px){

}

@media only screen and (max-width:1023px){


}


@media only screen and (max-width:767px){

.op-class-list {width:100%; border-radius:0;}

.mob-write dl dd input.w49pc {width:100% !important;}

.popupLayer {width:100%;}

}

@media only screen and (max-width:670px){

}


@media only screen and (max-width:500px){

}