@charset "utf-8";
@import url("reset.css");

html, body, .logout_wrap {width:100%;height:100%;background:#e7ebee;}
.logout_wrap {position:relative;width:100%;min-width:740px;min-height:855px;padding:145px 0 280px;}
.logout_wrap:before {display:block;content:'';position:absolute;top:0;right:0;width:100%;height:100px;background:url("/Contents/user/Common/img/logout_top_bg.png") right top no-repeat;}
.logout_wrap:after {display:block;content:'';position:absolute;bottom:0;left:0;width:100%;height:280px;background:url("/Contents/user/Common/img/logout_btm_bg.png") left bottom no-repeat;}
.logout_wrap .logout_con {width:100%;text-align:center;}
.logout_wrap .logout_con .tit {display:block;margin-top:20px;font-size:20px;color:#444;}
.logout_wrap .logout_con .info {padding:100px 0;margin:30px auto;width:80%;background:#fff;border:1px solid #d6d6d6;}
.logout_wrap .logout_con .info>p {font-size:35px;color:#014099;line-height: 1.4;}
.logout_wrap .logout_con .info>p span {font-family:'NotoSanskr_Medium';color:#009fe3;}
.logout_wrap .logout_con .copy {display:block;font-size:12px;color:#444;}
