
/*  패션디자인 진출분야 아이콘  */
.sub_cont_page .info_dl > dd.major_icon5 > ul > li.info_dl_li_title {border:1px solid #3c56a0; float:left; width:20%; vertical-align:bottom;}
.sub_cont_page .info_dl > dd.major_icon5 > ul > li {border:1px solid #cccccc; float:left; width:80%; border-left:0; display:table; box-sizing:border-box;}
.sub_cont_page .info_dl > dd.major_icon5 > ul > li span {display:table-cell; vertical-align:middle;}

.sub_cont_page .info_dl > dd.major_icon5 > ul > li:first-child {color:#3c56a0; font-size:12px; text-align:center;}
.sub_cont_page .info_dl > dd.major_icon5 > ul > li:first-child > span {padding-top:20px;}
.sub_cont_page .info_dl > dd.major_icon5 > ul > li:last-child {padding-left:20px;}

.sub_cont_page .info_dl > dd.major_icon5 > ul:nth-child(1) > li {height:180px; vertical-align:bottom;}
.sub_cont_page .info_dl > dd.major_icon5 > ul:nth-child(1) > li:first-child {background:url(../img/info02_icon01.png) center 30% no-repeat;}
.sub_cont_page .info_dl > dd.major_icon5 > ul:nth-child(2) > li {height:120px;}
.sub_cont_page .info_dl > dd.major_icon5 > ul:nth-child(2) > li:first-child {background:url(../img/info02_icon02.png) center 30% no-repeat;}
.sub_cont_page .info_dl > dd.major_icon5 > ul:nth-child(3) > li {height:200px;}
.sub_cont_page .info_dl > dd.major_icon5 > ul:nth-child(3) > li:first-child {background:url(../img/info02_icon03.png) center 30% no-repeat;}



/*  패션비즈니스 진출분야 아이콘  */
.sub_cont_page .info_dl > dd.major_icon6 > ul > li.info_dl_li_title {border:1px solid #3c56a0; float:left; width:20%; vertical-align:bottom;}
.sub_cont_page .info_dl > dd.major_icon6 > ul > li {border:1px solid #cccccc; float:left; width:80%; border-left:0; display:table; box-sizing:border-box;}
.sub_cont_page .info_dl > dd.major_icon6 > ul > li span {display:table-cell; vertical-align:middle;}

.sub_cont_page .info_dl > dd.major_icon6 > ul > li:first-child {color:#3c56a0; font-size:12px; text-align:center;}
.sub_cont_page .info_dl > dd.major_icon6 > ul > li:first-child > span {padding-top:20px;}
.sub_cont_page .info_dl > dd.major_icon6 > ul > li:last-child {padding-left:20px;}

.sub_cont_page .info_dl > dd.major_icon6 > ul:nth-child(1) > li {height:140px; vertical-align:bottom;}
.sub_cont_page .info_dl > dd.major_icon6 > ul:nth-child(1) > li:first-child {background:url(../img/info02_icon01.png) center 30% no-repeat;}
.sub_cont_page .info_dl > dd.major_icon6 > ul:nth-child(2) > li {height:180px;}
.sub_cont_page .info_dl > dd.major_icon6 > ul:nth-child(2) > li:first-child {background:url(../img/info02_icon02.png) center 30% no-repeat;}
.sub_cont_page .info_dl > dd.major_icon6 > ul:nth-child(3) > li {height:120px;}
.sub_cont_page .info_dl > dd.major_icon6 > ul:nth-child(3) > li:first-child {background:url(../img/info02_icon03.png) center 30% no-repeat;}





/* 미용학 취업분야 아이콘  */
.sub_cont_page .info_dl > dd.major_icon7 > ul > li.info_dl_li_title {border:1px solid #3c56a0; float:left; width:20%; vertical-align:bottom;}
.sub_cont_page .info_dl > dd.major_icon7 > ul > li {border:1px solid #cccccc; float:left; width:80%; border-left:0; display:table; box-sizing:border-box;}
.sub_cont_page .info_dl > dd.major_icon7 > ul > li span {display:table-cell; vertical-align:middle;}

.sub_cont_page .info_dl > dd.major_icon7 > ul > li:first-child {color:#3c56a0; font-size:12px; text-align:center;}
.sub_cont_page .info_dl > dd.major_icon7 > ul > li:first-child > span {padding-top:20px;}
.sub_cont_page .info_dl > dd.major_icon7 > ul > li:last-child {padding-left:20px;}

.sub_cont_page .info_dl > dd.major_icon7 > ul:nth-child(1) > li {height:140px; vertical-align:bottom;}
.sub_cont_page .info_dl > dd.major_icon7 > ul:nth-child(1) > li:first-child {background:url(../img/info02_icon01.png) center 30% no-repeat;}
.sub_cont_page .info_dl > dd.major_icon7 > ul:nth-child(2) > li {height:100px;}
.sub_cont_page .info_dl > dd.major_icon7 > ul:nth-child(2) > li:first-child {background:url(../img/info02_icon02.png) center 30% no-repeat;}
.sub_cont_page .info_dl > dd.major_icon7 > ul:nth-child(3) > li {height:100px;}
.sub_cont_page .info_dl > dd.major_icon7 > ul:nth-child(3) > li:first-child {background:url(../img/info02_icon03.png) center 30% no-repeat;}
.sub_cont_page .info_dl > dd.major_icon7 > ul:nth-child(4) > li {height:100px;}
.sub_cont_page .info_dl > dd.major_icon7 > ul:nth-child(4) > li:first-child {background:url(../img/info02_icon04.png) center 30% no-repeat;}

.sub_cont_page .info_dl > dd.major_icon > ul:nth-child(5) > li {height:100px;}
.sub_cont_page .info_dl > dd.major_icon > ul:nth-child(5) > li:first-child {background:url(../img/info02_icon05.png) center 30% no-repeat;}

.faq_dl {overflow:hidden; margin-bottom:30px;}
.faq_dl > dt {border:1px solid #ccc; border-bottom:0; padding:10px; font-size:18px; word-break:keep-all;}
.faq_dl > dd {border:1px solid #ccc; background-color:#f7f8fa; box-sizing:border-box; padding:10px; line-height:24px; word-break:keep-all;}



@media only screen and (max-width:767px){

/*  패션디자인 진출분야 아이콘  */
	.sub_cont_page .info_dl > dd.major_icon5 > ul > li.info_dl_li_title {float:none; width:100%; height:auto; padding:20px 0;}
	.sub_cont_page .info_dl > dd.major_icon5 > ul > li {float:none; width:100%; height:auto; border-top:0; border-left:1px solid #ccc;  padding:10px;}


/*  패션비즈니스 진출분야 아이콘  */
	.sub_cont_page .info_dl > dd.major_icon6 > ul > li.info_dl_li_title {float:none; width:100%; height:auto; padding:20px 0;}
	.sub_cont_page .info_dl > dd.major_icon6 > ul > li {float:none; width:100%; height:auto; border-top:0; border-left:1px solid #ccc;  padding:10px;}


/* 미용학 취업분야 아이콘  */
	.sub_cont_page .info_dl > dd.major_icon7 > ul > li.info_dl_li_title {float:none; width:100%; height:auto; padding:20px 0;}
	.sub_cont_page .info_dl > dd.major_icon7 > ul > li {float:none; width:100%; height:auto; border-top:0; border-left:1px solid #ccc;  padding:10px;}




}