/*
 * Nanum Brun Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'nbg';
  font-style: normal;
  font-weight: 400;
  src: url(../font/nanumbrun/nanumbarungothicregular.eot);
  src: url(../font/nanumbrun/nanumbarungothicregular.eot?#iefix) format('embedded-opentype'),
       url(../font/nanumbrun/nanumbarungothicregular.woff2) format('woff2'),
       url(../font/nanumbrun/nanumbarungothicregular.woff) format('woff'),
       url(../font/nanumbrun/nanumbarungothicregular.ttf) format('truetype');
}
@font-face {
  font-family: 'nbg';
  font-style: normal;
  font-weight: 600;
  src: url(../font/nanumbrun/nanumbarungothicregular.eot);
  src: url(../font/nanumbrun/nanumbarungothicregular.eot?#iefix) format('embedded-opentype'),
       url(../font/nanumbrun/nanumbarungothicregular.woff2) format('woff2'),
       url(../font/nanumbrun/nanumbarungothicregular.woff) format('woff'),
       url(../font/nanumbrun/nanumbarungothicregular.ttf) format('truetype');
}
@font-face {
  font-family: 'nbg';
  font-style: normal;
  font-weight: 700;
  src: url(../font/nanumbrun/NanumBarunGothicBold.eot);
  src: url(../font/nanumbrun/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(../font/nanumbrun/NanumBarunGothicBold.woff2) format('woff2'),
       url(../font/nanumbrun/NanumBarunGothicBold.woff) format('woff'),
       url(../font/nanumbrun/NanumBarunGothicBold.ttf) format('truetype');
}