body {
/* 	background: url("../img/photo_bg.jpg") no-repeat center center fixed; */	
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #333;
	background-color:#242831 !important;
}

/* Typography */
h1#title {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 3.2em;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin: 0 auto;
	padding-top: 180px;
	max-width: 300px;
	text-align: center;
	position: relative;
	top: 0px;
}

h1#title span span {
	font-weight: 400;
}

h2 {
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.4em;
	line-height: 2.8em;
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	color: #aeaeae;
}

.small {
	font-size: 1em;	
	color:#ffffff !important;
	width:100%;
	text-align:center;
	display:block;
}


/* Layout */
.container {
	margin: 0;
}

.top {
	margin: 0 auto;
	padding: 0;
	width: 100%;	
/* 	background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%); FF3.6-15 */
/* 	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); Chrome10-25,Safari5.1-6 */
/* 	background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); IE6-9 */
    width:309px;
    text-align:center;   
}

.top:after {content:'수방통합관측시스템'; display:block; width:100%; color:#fff; border-top:2px solid #3f434b; padding-top:10px; margin-top:10px; margin-bottom:30px;}

.login-box {	
	width: 310px;
	height:105px;
	margin: 0 auto;
	position: relative;
	top: 0;	
	background:url(../img/login_bg.png) top left no-repeat;
}

.login-box .box-header {
	background-color: #252831;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}

.login-box label {
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.login-box select {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
	width:164px;
}

.login-box > ul {margin-left:128px; height:105px;}
/*임시로 변경해둠*/
.login-box > ul > li:first-child {margin-bottom:10px; padding-top:25px; text-indent:0 !important;}
.login-box > ul > li:first-child > label > input {text-indent:0;}
.login-box > ul > li:last-child > label {color:#fff; font-size:13px; margin-left:5px;}

.login-box input[type=text],
.login-box input[type=password] {	
	padding: 8px;
	border: 1px solid #9296a3;
	background-color:#bdbfc7;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
	width:137px; 
	height:24px;
	box-sizing:border-box;.
}

.login-box input[type=text]:focus,
.login-box input[type=password]:focus {
	outline: none;
	border-color: #252831;
	transition: 0.5s;
	color: #665851;
}

.login-box button {
	margin-top: 25px;
	border: 0;	
	color: white;	
	font-weight: 400;
	font-size: 1.4em;
	letter-spacing: 1px;
	background-color: transparent;
	cursor:pointer;
	outline: none; 
	width:100%;
	text-align:center; 
	text-indent:45px;	
}

.login-box button:after {border-bottom:2px solid #3f434b; display:block; content:''; margin:0 0 50px 0; padding:10px 0 0 0;}



.selected {
	color: #665851!important;
	transition: 0.5s;
}

/* Animation Delay */
#logo {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
}

.login-box {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

@media only screen and (max-width:400px){
	 h1#title {padding-top:30%; }
}

@media only screen and (max-height:500px){
	 h1#title {padding-top:2%; }
}

@media only screen and (max-height:400px){
	 h1#title {padding-top:0; }
}