
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Halla Performance Reporting System</title>
</head>

<body>
    <table border="0" cellpadding="0" cellspacing="0" style="font-family:'NotoSanskr_Regular', '돋움';">
        <tr>
            <td><img src="http://test.halla.kr/Contents/SiteMngHome/Mail/img/header.gif" border="0" style="display: block;"></td>
        </tr>
        <tr>
            <td bgcolor="#e7ebee" style="text-align: center; background: #e7ebee url('http://test.halla.kr/Contents/SiteMngHome/Mail/img/bg.gif') repeat-y;">
                <table width="553" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td bgcolor="#ffffff">
                            <table width="472" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td height="10" align="center"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px 0; color: #333333; font-size: 16px;" align="center">한라홀딩스(사업)</td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px 0; color: #333333; font-size: 16px;" align="center">2023년 12월 <span style="color: #00a0db;">Cash Flow</span> 경영실적</td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px 0; color: #014099; font-size: 16px;" align="center">1차 승인요청이 모두 완료되었습니다..</td>
                                            </tr>
                                            <tr>
                                                <td height="10" align="center"></td>
                                            </tr>
                                            <tr>
                                                <td style="color: #333333; font-size: 16px;" align="center">
                                                    [자세히보기] 버튼을 클릭하시어 한라 실적 보고 시스템 관리자에서 확인하시기 바랍니다.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="10" align="center"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table>
                                                        <tr>
                                                            <th>년</th>
                                                            <th>월</th>
                                                            <th>회사</th>
                                                            <th>실적구분</th>
                                                            <th>실적확인</th>
                                                        </tr> 
                                                        <tr>
                                                            <td>2019</td>
                                                            <td>02</td>
                                                            <td>한라홀딩스(사업)</td>
                                                            <td>Cash Flow</td>
                                                            <td><a href="https://ep.halla.com/?rtn=%2fPortal%2fGadget%2fSignOnMando%3fSsoId%3dHALLA.HEIS%26HPRSURL%3d%2fSiteMngHome%2fPerformance%2fCash_Flow%2fEdit%3a921%3a1" style="display:inline-block; padding: 10px; background:#00a0db; color: #fff; font-size: 14px;">자세히 보기</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2019</td>
                                                            <td>02</td>
                                                            <td>한라홀딩스(사업)</td>
                                                            <td>손익</td>
                                                            <td><a href="https://ep.halla.com/?rtn=%2fPortal%2fGadget%2fSignOnMando%3fSsoId%3dHALLA.HEIS%26HPRSURL%3d%2fSiteMngHome%2fPerformance%2fCash_Flow%2fEdit%3a921%3a1" style="display:inline-block; padding: 10px; background:#00a0db; color: #fff; font-size: 14px;">자세히 보기</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2019</td>
                                                            <td>02</td>
                                                            <td>한라홀딩스(사업)</td>
                                                            <td>분기별 손익</td>
                                                            <td><a href="https://ep.halla.com/?rtn=%2fPortal%2fGadget%2fSignOnMando%3fSsoId%3dHALLA.HEIS%26HPRSURL%3d%2fSiteMngHome%2fPerformance%2fCash_Flow%2fEdit%3a921%3a1" style="display:inline-block; padding: 10px; background:#00a0db; color: #fff; font-size: 14px;">자세히 보기</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2019</td>
                                                            <td>02</td>
                                                            <td>한라홀딩스(사업)</td>
                                                            <td>BS</td>
                                                            <td><a href="https://ep.halla.com/?rtn=%2fPortal%2fGadget%2fSignOnMando%3fSsoId%3dHALLA.HEIS%26HPRSURL%3d%2fSiteMngHome%2fPerformance%2fCash_Flow%2fEdit%3a921%3a1" style="display:inline-block; padding: 10px; background:#00a0db; color: #fff; font-size: 14px;">자세히 보기</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2019</td>
                                                            <td>02</td>
                                                            <td>한라홀딩스(사업)</td>
                                                            <td>BS – ㈜한라 별도</td>
                                                            <td><a href="https://ep.halla.com/?rtn=%2fPortal%2fGadget%2fSignOnMando%3fSsoId%3dHALLA.HEIS%26HPRSURL%3d%2fSiteMngHome%2fPerformance%2fCash_Flow%2fEdit%3a921%3a1" style="display:inline-block; padding: 10px; background:#00a0db; color: #fff; font-size: 14px;">자세히 보기</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2019</td>
                                                            <td>02</td>
                                                            <td>한라홀딩스(사업)</td>
                                                            <td>투자·인원</td>
                                                            <td><a href="https://ep.halla.com/?rtn=%2fPortal%2fGadget%2fSignOnMando%3fSsoId%3dHALLA.HEIS%26HPRSURL%3d%2fSiteMngHome%2fPerformance%2fCash_Flow%2fEdit%3a921%3a1" style="display:inline-block; padding: 10px; background:#00a0db; color: #fff; font-size: 14px;">자세히 보기</a></td>
                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center"><a href="https://ep.halla.com/?rtn=%2fPortal%2fGadget%2fSignOnMando%3fSsoId%3dHALLA.HEIS%26HPRSURL%3d%2fSiteMngHome%2fPerformance%2fCash_Flow%2fEdit%3a921%3a1" style="display:inline-block; padding: 10px; background:#0027a9; color: #fff; font-size: 20px;">통합승인</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><img src="http://test.halla.kr/Contents/SiteMngHome/Mail/img/footer.gif" border="0" style="display: block;"></td>
        </tr>
    </table>
</body>

</html>

