<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ▶ %-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--	개발
		<file>D:\WAS\writingcenter\logs\hswritingcenter.log</file> 
-->
<!-- 	운영
-->
        <file>/home/writer/logs/hswritingcenter.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
<!--		개발     
-->
			<fileNamePattern>D:\WAS\writingcenter\logs\hswritingcenter.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
<!--		운영
            <fileNamePattern>/home/writer/logs/hswritingcenter.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
		    	<!-- 
		    		or whenever the file size reaches 50MB 
		    		<maxFileSize>50MB</maxFileSize>
		    	-->
        	</timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                ▷ %-5level %d{yyyy-MM-dd HH:mm:ss} %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>
        
    <!-- 이 아래에 있는 애들 다 log로 찍겠다. -->
    <logger name="src.springtest" level="debug">
        <appender-ref ref="file"/>
    </logger>
    <root level="debug">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
        
</configuration>