.ui-datepicker-trigger {
    border: 0;
    margin: 2px;
    background-color: white;
    background: url(./images/btn_cal.png) no-repeat;
    width: 20px;
    height: 20px;
}



.checkWrap label{
    margin-left:0px;
}

.checkWrap input[type=radio] {
    padding:0 10px;
}

.article_wrap .top_info_wrap ul .like:before {
    top: 1px;
    width: 15px;
    height: 13px;
    background-image: url('../images/icon/icon_like.png');
}

.article_wrap .top_info_wrap ul .liking {
    padding-left: 24px;
}

    .article_wrap .top_info_wrap ul .liking:before {
        top: 1px;
        width: 15px;
        height: 13px;
        background-image: url('../images/icon/icon_like2.png');
    }


.layerpop_bg {
    position: fixed;
    display:none;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}


.img_wrap{
    width:310px;
    height:195px;

}


    .img_wrap img {
        max-width: 310px;
        max-height: 195px;
    }


.comment_wrap .textarea_wrap .comment_body {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 16px 20px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    color: #556670;
    line-height: 18px;
}

.comment_wrap .textarea_wrap .comment_body div{
    font-size:14px;
    font-weight:normal;
    color:#556670;
    line-height:18px;
}

    .comment_wrap .textarea_wrap .comment_body img {
        padding: 0 2px;
    }