@{
    Layout = null;
    Response.ContentType = "application/vnd.ms-excel";

    if (!Response.Headers.AllKeys.Contains("Content-Disposition"))
    {
        Response.AddHeader("Content-Disposition", string.Format("attachment;filename={0}.xls", DateTime.Now.ToString("yyyyMMddHHmmss")));
    }
}
<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">
<head>
    <title>ExcelStats</title>
    <meta name="ProgId" content="Excel.Sheet" />
    <meta name="Generator" content="Microsoft Excel 9" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <style>
        .grid-body table {
            border-collapse: collapse;
            background-color: white;
            empty-cells: show;
            width: 100%;
            table-layout: fixed;
        }

        .grid-body th {
            overflow: hidden;
            white-space: nowrap;
        }

        .grid-body td {
            word-break: break-all;
            overflow: hidden;
            white-space: nowrap;
        }

        .grid-body th {
            text-align: center !important;
            background: #e4effa;
            text-align: center;
            padding: 5px 0px 5px 0px;
            height: 28px;
            box-sizing: content-box;
        }


        .grid-body td {
            text-align: center;
            padding: 5px 6px 5px 6px;
            height: 28px;
        }

        br {
            mso-data-placement: same-cell;
        }
    </style>
</head>

<body>

    @RenderBody()

</body>
</html>
