@{
    
}

<div class="notice_wrap">
    <span></span>
    <a href="#none;"></a>
    <button type="button" class="btn_top">@Text["상단으로 이동"]</button>
</div>

<div class="footer_wrap">
    <div class="inner">
        <p class="logo"><img src="@(Config.AppPath)inc/images/common/footer_logo.png"></p>
        <p class="copy">Copyright &copy; HALLA Corp. All rights reserved.</p>
    </div>
</div>