@{
    var menu = ViewData["_Menu"] as Dictionary<string, CategoryEntity>;
    var topmenu = ViewData["_TopMenu"] as List<CategoryEntity>;
    var category = ViewData["_Cateogry"] as CategoryEntity;
}

<div id="nav">
    <h1 class="logo">
        <a href="javascript:;" class="halla_tube"></a>
        <a href="https://ep.halla.com/Portal/" target="_blank" title="@Text["새 창으로 열기"]" class="hanmaru"></a>
    </h1>

    <div id="menu">

    </div>

    <div id="nav_util">
        <ul>
        </ul>
    </div>

    <div class="search_wrap">
        <div class="search_area">
        </div>
    </div>

    <button type="button" class="btn_allmenu">@Text["전체메뉴"]</button>
    <div id="allmenu2">
        <div class="allmenu_box">
            <div class="menu_wrap">
            </div>

            <!-- other_menu -->
            <div class="other_menu">
            </div>
            <!-- //other_menu -->
        </div>
    </div>
</div>