@charset "utf-8";

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea { margin:0; padding:0; }
table { width:100%; border-collapse:collapse; border-spacing:0; /* word-break:break-all; */}

html,body {
	font-family: GulimChe,'굴림체',Gulim,'굴림';
	font-weight:bold;
	-webkit-text-fill-color: #000000;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0.5px;
}

/*margin, padding*/
.mb30 {margin-bottom:30px;}
.pb30 {padding-bottom:30px;}


.ml10 {margin-left:10px;}
.ml20 {margin-left:20px;}
.ml30 {margin-left:30px;}
.ml50 {margin-left:50px;}

.pl10 {padding-left:10px;}
.pl20 {padding-left:20px;}
.pl30 {padding-left:30px;}
.pl50 {padding-left:50px;}

.mr10 {margin-right:10px;}
.mr20 {margin-right:20px;}
.mr30 {margin-right:30px;}
.mr50 {margin-right:50px;}

.pr10 {padding-right:10px;}
.pr20 {padding-right:20px;}
.pr30 {padding-right:30px;}
.pr50 {padding-right:50px;}


.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb50 {margin-bottom:50px;}

.pb5 {padding-bottom:5px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.pb30 {padding-bottom:30px;}
.pb50 {padding-bottom:50px;}

.mt5 {margin-top:5px;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt50 {margin-top:50px !important;}

.pt5 {padding-top:5px;}
.pt10 {padding-top:10px;}
.pt20 {padding-top:20px;}
.pt30 {padding-top:30px;}
.pt50 {padding-top:50px;}
.pt75 {padding-top:75px;}
.pt85 {padding-top:85px;}
.pt100 {padding-top:100px;}

.dpn {display:none;}

.lh25 {line-height:25px !important;}
.lh30 {line-height:30px !important;}
.solbox {border:solid 3px #000000;}
.w90pc {width:98% !important;}

.wi-2p {width:2%;}
.wi-6p {width:6%;}
.wi-10p {width:10%;}
.wi-12p {width:12%;}
.wi-30px {width:30px !important;}
.wi-80px {width:80px !important;}
.wi-90px {width:90px !important;}
.wi-160px {width:160px !important;}

.pop-box {width:900px; margin:150px auto; page-break-before:always;}
.pop-box_grade {width:900px; margin:110px auto; page-break-before:always;}
.pop-box_complete {width:900px; margin:110px auto; page-break-before:always;}

.pop-table-box {width:100%;}
.pop-table-box .head-pop-table {width:100%; margin-top:50px; font-size:15px;}
.pop-table-box .head-pop-table td:first-child {text-align:left;}
.pop-table-box .head-pop-table td:last-child {text-align:right;}

.pop-table-box .certi-pop-table {width:100%; margin-top:90px;}
.pop-table-box .certi-pop-table td {text-align:center; font-size:20pt; line-height:50px;}
.pop-table-box .certi-pop-table td.eng {font-size:17pt;}
.pop-table-box .certi-pop-table td:nth-child(2) {text-align:left; text-indent:20px;}
.pop-table-box .certi-pop-table td p {font-size:35pt;}

.pop-table-box .gcard-pop-table {width:100%; margin-top:90px;}
.pop-table-box .gcard-pop-table td {text-align:left; font-size:15pt; line-height:50px;}
.pop-table-box .gcard-pop-table td.eng {font-size:17pt;}
.pop-table-box .gcard-pop-table td:nth-child(2) {text-align:left; text-indent:20px;}
.pop-table-box .gcard-pop-table td p {font-size:35pt;}

/* .pop-table-box .std td {font-size:16pt;} */
/* .pop-table-box .std tr td:first-child {text-align:left;} */
.pop-table-box .std tr td:last-child {vertical-align:baseline;}
.pop-table-box .certi-pop-table tbody.list td:nth-child(2):before {content:":"; float:left; text-indent:0;}
.pop-table-box .gcard-pop-table tbody.list td:nth-child(2):before {content:":"; float:left; text-indent:0;}

.pop-table-box .grade-pop-table {width:100%; border-top:1px solid #999; margin-top:30px;}
.pop-table-box .grade-pop-table td {border:1px solid #999; border-top:0; border-left:0; text-align:center; color:#222; padding:5px; height:40px; font-size:15pt; line-height:30px;}
.pop-table-box .grade-pop-table td:first-child {border-left:1px solid #999;}

.attend-contents {min-width:1813px; height:100%; overflow:hidden;}

.pop-table-box .attend-pop-table {width:auto; margin-top:116px;}
.pop-table-box .attend-pop-table td {border:1px solid #999; border-top:0; border-left:0; text-align:center; color:#222; padding:5px; font-size:10pt; height:30px; min-width:30px;}
.pop-table-box .attend-pop-table td:first-child {border-left:1px solid #999;}

/* .pop-table-box .attend-pop-table thead {position:absolute; background-color:#fff; width:calc(100%); top:195px;} */
.pop-table-box .attend-pop-table thead {min-width:1813px; position:absolute; background-color:#fff; top:195px;}
.pop-table-box .attend-pop-table tbody {padding-top:116px;}
.pop-table-box .attend-pop-table th {border:1px solid #999; border-left:0; text-align:center; color:#222; padding:5px; font-size:10pt; height:30px; min-width:30px;}
.pop-table-box .attend-pop-table th:first-child {border-left:1px solid #999;}

.attend-table-scroll {min-width:1830px; height:650px; overflow:scroll; overflow-x:hidden; /*overflow-y:overlay;*/}

.table-button .btn-box {margin-bottom:4px; height:27px; text-align:left;}
.table-button .btn-box button{float:right;}

.meet-main-title {margin:30px auto; width:90%; font-size:13px;}
.meet-title {margin:10px auto; width:90%; font-size:13px; position:relative;}

.pop-table-box .meet-pop-table {width:90%; border-top:1px solid #999; margin:0 auto 30px auto; white-space:pre-line;}
.pop-table-box .meet-pop-table:first-child {margin-top:30px;}
.pop-table-box .meet-pop-table td {border:1px solid #999; border-top:0; border-left:0; text-align:center; color:#222; padding:0 5px; height:10px; font-size:8pt;}
.pop-table-box .meet-pop-table td:first-child {border-left:1px solid #999;}
.pop-table-box .meet-pop-table th {background-color:#f6f6f6; border:1px solid #999; border-top:0; border-left:0; text-align:center; color:#222; padding:0 5px; height:10px; font-size:8pt;}
.pop-table-box .meet-pop-table th:first-child {border-left:1px solid #999;}

.meet-border-box {border:1px solid #999; width:90%; margin: 0px auto 30px auto;}


.pop-table-box .stdship-pop-table {width:100%; margin-top:90px;}
.pop-table-box .stdship-pop-table td {text-align:center; font-size:20pt; line-height:50px;}
.pop-table-box .stdship-pop-table td.eng {font-size:17pt;}
.pop-table-box .stdship-pop-table td:nth-child(2) {text-align:left;}
.pop-table-box .stdship-pop-table td p {font-size:35pt;}
.pop-table-box .stdship-pop-table.std td {font-size:15pt;}
.pop-table-box .stdship-pop-table.std tr td:first-child {text-align:left;}
.pop-table-box .stdship-pop-table.std tr td:last-child {vertical-align:baseline; text-indent:10px;}
.pop-table-box .stdship-pop-table tbody.list td:nth-child(2):before {content:":"; float:left;}