@charset "utf-8";

.lh25 {line-height:25px !important;}
.solbox {border:solid 3px #000000;}
.w90pc {width:98% !important;}

.pop-dvs-box {width:1000px; margin:50px auto;  page-break-before:always;  font-family:"굴림체";}
.pop-table-box .dvs-top-table-header td p {font-size:28pt; text-align: center; margin-top: 15px; margin-bottom: 40px;}
.pop-table-box .dvs-top-table-header td span {font-size:10pt; font-weight: bold;}
.pop-table-box .dvs-top-table-header thead {position:absolute; background-color:#fff; width:calc(100%); top:195px; margin-top: 5000px;}

.dvs-table-box {width:100%; /* border-top:1px solid #47484A; */ margin-bottom:20px;}
.dvs-table-box .dvs-list-table {width:100%;}
.dvs-table-box .dvs-list-table th {background-color:#d1d1d1; border:1px solid #47484A;   text-align:center; color:#222; padding:8px; font-weight: bold;}
/* .dvs-table-box .dvs-list-table th:last-child {border-right:0;} */
.dvs-table-box .dvs-list-table th.sorting {position:relative;}
.dvs-table-box .dvs-list-table th.sorting button {position:absolute;}
.dvs-table-box .dvs-list-table th.sorting button:nth-child(1) {background:url(../img/icon-st-up.png) no-repeat; width:10px; height:5px; top:50%; right:15px; margin-top:-8px; text-indent:-10000px;}
.dvs-table-box .dvs-list-table th.sorting button:nth-child(2) {background:url(../img/icon-st-down.png) no-repeat; width:10px; height:5px; bottom:50%; right:15px; margin-bottom:-7px; text-indent:-10000px;}

.dvs-table-box .dvs-list-table .hide {border-bottom: 0; border-top: 0;}

.dvs-table-box .dvs-list-table tbody tr:hover {background-color:#ffefd6;}

.dvs-table-box .dvs-list-table th.dot-option {position:relative;}
.dvs-table-box .dvs-list-table th.dot-option .icon-dot {position:absolute; top:50%; right:15px; margin-top:-6px;}

.dvs-table-box .dvs-list-table td {border:1px solid #47484A; border-top:0; border-left:0; text-align:center; color:#222; padding-top:5px; padding-bottom:5px; min-width:55px;}
.dvs-table-box .dvs-list-table td:last-child {border-right:0;}
.dvs-table-box .dvs-list-table td.table-btn a,
.dvs-table-box .dvs-list-table td.table-btn button {background-color:#ddd; padding:3px 5px;}
.dvs-table-box .dvs-list-table td em {font-style:normal; color:#2196f3;}
