@charset "utf-8";

html,body {
	font-family: GulimChe,'±¼¸²Ã¼',Gulim,'±¼¸²';
	font-weight:bold;
	-webkit-text-fill-color: #000000;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0.5px;
}

.lh25 {line-height:25px !important;}
.solbox {border:solid 3px #000000;}
.w90pc {width:98% !important;}

.pop-table-box .head-pop-table {width:100%; margin-top:50px; font-weight:bold; font-size:15px;}
.pop-table-box .head-pop-table td:first-child {text-align:left;}
.pop-table-box .head-pop-table td:last-child {text-align:right;}

.pop-table-box .certi-pop-table {width:100%; margin-top:120px; font-weight:bold;}
.pop-table-box .certi-pop-table td {text-align:center; font-size:20pt; line-height:50px;}
.pop-table-box .certi-pop-table td.eng {font-size:17pt;}
.pop-table-box .certi-pop-table td:nth-child(2) {text-align:left; text-indent:20px;}
.pop-table-box .certi-pop-table td p {font-size:35pt;}

.pop-table-box .std td {font-size:15pt;}
.pop-table-box .std tr td:first-child {text-align:left;}
.pop-table-box .std tr td:last-child {vertical-align:baseline; text-indent:10px;}
.pop-table-box .certi-pop-table tbody.list td:nth-child(1):after {content:":"; float:right;}

.pop-table-box .grade-pop-table {width:100%; border-top:1px solid #999; margin-top:50px; font-weight:bold;}
.pop-table-box .grade-pop-table td {border:1px solid #999; border-top:0; border-left:0; text-align:center; color:#222; padding:5px; height:40px; font-size:15pt;}
.pop-table-box .grade-pop-table td:first-child {border-left:1px solid #999;}